@model Projet2.Models.Compte.Identifiant


<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div>
        @Html.LabelFor(m => m.MotDePasse)
        @Html.PasswordFor(m => m.MotDePasse)
        @Html.ValidationMessageFor(m => m.MotDePasse)
    </div>
    <input type="submit" value="Créer" />
}