@model Projet2.ViewModels.UtilisateurViewModel


@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Identifiant.AdresseMail
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{

    <p>
        Veuillez vous authentifier :
    </p>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Identifiant.AdresseMail)
            @Html.TextBoxFor(m => m.Identifiant.AdresseMail)
            @Html.ValidationMessageFor(m => m.Identifiant.AdresseMail)
        </div>
        <div>
            @Html.LabelFor(m => m.Identifiant.MotDePasse)
            @Html.PasswordFor(m => m.Identifiant.MotDePasse)
            @Html.ValidationMessageFor(m => m.Identifiant.MotDePasse)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "Inscription", "Home")
    
        }
}