@model Projet2.ViewModels.UtilisateurViewModel


@if (@Model.Authentifie)
{
    <section class="signupLayout">
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="~/ImageArticle/pommes.jpg"></div>
                <div class="formBx">
                    @using (Html.BeginForm())
                    {
                    <h2>Vous êtes déjà authentifié</h2>             
                    <table width=100%>
                            <tr align="center" height=60px>
                              <th class="signup"><a asp-area="" asp-controller="Home" asp-action="EspacePersonnel">Mon Compte</a></th>
                            </tr>
                            <tr align="center">
                              <th class="signup"><a asp-area="" asp-controller="Login" asp-action="Deconnexion">Déconnecter</a></th>
                            </tr>
                    </table>
                    }               
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="signupLayout">
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="~/ImageArticle/pommes.jpg"></div>
                <div class="formBx">
                    @using (Html.BeginForm())
                    {
                        <h2>Veuillez vous authentifier</h2>
                        <table width=100%>
                                <tr>
                                  <th class="signup">@Html.TextBoxFor(m => m.Identifiant.AdresseMail, new {placeholder="Adresse Mail"})
                                                    @Html.ValidationMessageFor(m => m.Identifiant.AdresseMail)
                                 </th>
                                </tr>
                                <tr>
                                  <th class="signup">@Html.PasswordFor(m => m.Identifiant.MotDePasse, new {placeholder="Mot de Passe"})
                                                     @Html.ValidationMessageFor(m => m.Identifiant.MotDePasse)
                                 </th>
                                </tr>
                                <tr align="center">
                                  <th class="signup"><input type="submit" value="Se connecter" /></th>
                                </tr>
                                <tr align="center">
                                  <th class="signup">Pas encore de Compte ?<a asp-area="" asp-controller="CompteAdA" asp-action="CreationCompte"> Inscrivez-vous</a></th>
                                </tr>
                        </table>               
                    }
                </div>
            </div>
        </div>
    </section>

}