@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "AfficherPaniers";
}


<div class="container">
    <div> <h1>Liste de nos Paniers saisonniers</h1></div>
    <br />
    <div class="row row row-cols-1 row-cols-md-5 g-2 ">
        @foreach (var panierSaisonnier in @Model.CataloguePanier.PanierSaisonniers)
        {
            <div class="col">
                <div class="card text-center h-100" style="width: 15rem; height: 10rem;">
                    @{
                        String filepath = "~/ImagesPaniers/" + @panierSaisonnier.Image;
                    }
                    <img src="~/Images/@panierSaisonnier.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                        <h6 class="card-title">@panierSaisonnier.AdP.NomProducteur</h6>
                        <p class="card-text">@panierSaisonnier.ProduitsProposes</p>

                        <p class="card-text">@panierSaisonnier.Prix.ToString("F") €</p>
                        @Html.ActionLink("Modifier", "ModifierPanier", "Panier", @panierSaisonnier, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Supprimer", "SupprimerPanier", "Panier", @panierSaisonnier, new { @class = "card-link" })
                        @Html.ActionLink("Choisir", "CommanderPanier", "Panier", @panierSaisonnier)
                        @Html.ActionLink("Plus", "AjouterLigneCommande", "Panier", @panierSaisonnier)

                    </div>
                </div>
            </div>
        }
    </div>
</div>