@model Projet2.ViewModels.HomeViewModel

<br />
<div class="row row row-cols-1 row-cols-md-4 g-4">
    @foreach (var panierSaisonnier in @Model.CataloguePanier.PanierSaisonniers)
    {
        @if (@panierSaisonnier.EstValide && !@panierSaisonnier.EstEnAttente)
        {
            <div class="col">
                <div class="card h-100">

                    @{
                        String filepath = "~/ImagesPaniers/" + @panierSaisonnier.Image;
                    }
                    <img src="~/Images/@panierSaisonnier.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                        <h6 class="card-title">@panierSaisonnier.AdP.NomProducteur</h6>
                        <p class="card-text">@panierSaisonnier.Description</p>
                        <p class="card-text">@panierSaisonnier.Prix</p>
                        @Html.ActionLink("Choisir", "CommandePanier", "Panier", @panierSaisonnier)
                        @Html.ActionLink("Plus", "CommandeLignePanier", "Panier", @panierSaisonnier)
                    </div>
                </div>
            </div>
        }

    }
</div>

