@model Projet2.Models.PanierSaisonniers.PanierSaisonnier
@{
    ViewData["Title"] = "AjouterPanier";
}


<body>
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Ajouter un Panier : </legend>
        @Html.LabelFor(m => Model.ProduitsProposes)
        @Html.TextBoxFor(m => Model.ProduitsProposes)
        @Html.ValidationMessageFor(m => Model.ProduitsProposes)
        <br />
        @Html.LabelFor(m => Model.Description)
        @Html.TextBoxFor(m => Model.Description)
        <br />
        @Html.LabelFor(m => Model.NomProducteur)
        @Html.TextBoxFor(m => Model.NomProducteur)
        <br />
        @Html.LabelFor(m => Model.Prix)
        @Html.TextBoxFor(m => Model.Prix)
        <br />
        <input type="submit" value="Ajouter" />
    </fieldset>
    }
</body>
