@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "AjouterPanier";
}

<div class="container afternav">
    <form enctype="multipart/form-data" method="post" asp-controller="Panier" asp-action="AjouterPanier">
        <fieldset>
            @Html.HiddenFor(m => Model.AdP.Id)
            <legend>Ajouter un Panier : </legend>
            @Html.LabelFor(m => Model.PanierSaisonnier.NomPanier)
            @Html.TextBoxFor(m => Model.PanierSaisonnier.NomPanier)
            <br />
            @Html.LabelFor(m => Model.PanierSaisonnier.ProduitsProposes)
            @Html.TextBoxFor(m => Model.PanierSaisonnier.ProduitsProposes)
            @Html.ValidationMessageFor(m => Model.PanierSaisonnier.ProduitsProposes)
            <br />
            @Html.LabelFor(m => Model.PanierSaisonnier.Description)
            @Html.TextBoxFor(m => Model.PanierSaisonnier.Description)
            <br />
            @Html.LabelFor(m => Model.PanierSaisonnier.Prix)
            @Html.TextBoxFor(m => Model.PanierSaisonnier.Prix, "{0:n2}") €
            <br />
            <input name="fileToUpload" type="file" value="browse" />
            @*@Html.EditorFor(model => model.Upload.Name, new { htmlAttributes = new { @class = "form-control hidden" } })
            @Html.ValidationMessageFor(model => model.Upload.Name, "", new { @class = "text-danger" })*@
        <div>
            <input type="submit" value="Ajouter" />
        </div>
        </fieldset>
        </form>
</div>
