@model Projet2.ViewModels.HomeViewModel
@using Microsoft.Extensions.Options
@inject IOptions<Projet2.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Paiement Ligne de Panier";
}


<div class=" container">

    @{var SousTotal = Decimal.Round(@Model.LignePanierSaisonnier.SousTotal, 2);
    }

    <form method="post" asp-controller="Boutique" asp-action="ModifierPanier">

        <div class="row">

            <div class="col-2"> @Model.PanierSaisonnier.NomPanier</div>
            <div class="col-2">
                @Model.LignePanierSaisonnier.Quantite
                <input type="hidden" name="quantite" value="@Model.LignePanierSaisonnier.Quantite" />
                <input type="hidden" name="Id" value="@Model.LignePanierSaisonnier.Id" />
            </div>
            <div class="col-2">@SousTotal</div>
        </div>

    </form>
    <div>
        @{ decimal Apayer = (decimal)Model.LignePanierSaisonnier.SousTotal;
            decimal APayer = Apayer * 100;
            var PrixAPayer = Decimal.Round(Apayer, 2);
        }
        <form onsubmit="return validate()">
            <input type="checkbox" id="contrat" /> J'ai lu et j'accepte les conditions du <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">contrat</a>
            <div>
                <input type="submit" value="submit" />
            </div>
        </form>

    <form asp-action="Paiement" asp-controller="Panier" method="post">
        <article>
            <label>Prix à payer: @PrixAPayer €</label>
            <input type="hidden" name="PanierId" value="@Model.LignePanierSaisonnier.Id" />
            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="@Stripe.Value.PublishableKey" data-locale="auto" data-description="Paiment" data-amount="@APayer"></script>
        </article>
    </form>


    </div>


</div>