@model Projet2.ViewModels.HomeViewModel
@{
}


<div class=" container">
    <div class="row">
        @Html.HiddenFor(m => Model.PanierSaisonnier.Id)
        <div class="col">

            @{
                String filepath = "~/ImagesPaniers/" + @Model.PanierSaisonnier.Image;
            }
            <img src="~/ImagesPaniers/@Model.PanierSaisonnier.Image" class="card-img-top" alt="...">
        </div>
        <div class="col">
            <h2 class="">@Model.PanierSaisonnier.NomPanier</h2>
            <h3 class="">@Model.PanierSaisonnier.AdP.NomProducteur</h3>
            <p class="">@Model.PanierSaisonnier.ProduitsProposes </p>
            <p class="">@Model.PanierSaisonnier.Description</p>
            <p class="">@Model.PanierSaisonnier.Prix €</p>

        </div>
        <div class="col-5">
            @using (Html.BeginForm())
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="semaine" id="inlineRadio1" value="13">
                    <label class="form-check-label" for="inlineRadio1">13 semaines</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="semaine" id="inlineRadio2" value="26">
                    <label class="form-check-label" for="inlineRadio2">26 semaines</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="semaine" id="inlineRadio3" value="52">
                    <label class="form-check-label" for="inlineRadio3">52 semaines</label>
                </div>

                <div class="col">
                    <label for="quantite" class="col-sm-2 col-form-label">Quantite</label>
                    <input id="quantite" type="number" class="form-control" name="quantite">
                    <input type="hidden" name="id" value="@Model.PanierSaisonnier.Id">
                </div>
                <div class="col-12">
                    <button type="submit">ajouter Panier</button>
                </div>
            }
        </div>
    </div>
</div>>