@model Projet2.Models.PanierSaisonniers.PanierSaisonnier
@{
    ViewData["Title"] ="ModifierPanier";
}


<body>
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Modifier un Panier : </legend>
        @Html.LabelFor(m => Model.ProduitsProposes)

        @foreach (var item in Model.ProduitsProposes)
        {
            @Html.TextBoxFor(m => @item.NomProduit)
        }
        @*@foreach (var p in Model.ProduitsProposes)
        {
            <div>@p.NomProduit</div>
        }*@

        @*@Html.TextBoxFor(m => @item)*@
        @*@Html.TextBoxFor(m => Model.ProduitsProposes)*@
        @Html.ValidationMessageFor(m => Model.ProduitsProposes)
        <br />
        @Html.LabelFor(m => Model.Description)
        @Html.TextBoxFor(m => Model.Description)
        <br />
        @Html.LabelFor(m => Model.NomProducteur)
        @Html.TextBoxFor(m => Model.NomProducteur)
        <br />
        @Html.LabelFor(m => Model.Prix)
        @Html.TextBoxFor(m => Model.Prix)
        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }
</body>
