@model Projet2.ViewModels.HomeViewModel
@{
//ViewData["Title"] = "ModifierPanier";
}

<div class="container mt-3">
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Modifier un Panier : </legend>
        @Html.HiddenFor(m => Model.PanierSaisonnier.Id)
        @Html.HiddenFor(m => Model.PanierSaisonnier.AdPId)

        @Html.LabelFor(m => Model.PanierSaisonnier.NomPanier)
        @Html.TextBoxFor(m => Model.PanierSaisonnier.NomPanier)
        <br />
        @Html.LabelFor(m => Model.PanierSaisonnier.ProduitsProposes)
        @Html.TextBoxFor(m => Model.PanierSaisonnier.ProduitsProposes)
        @Html.ValidationMessageFor(m => Model.PanierSaisonnier.ProduitsProposes)
        <br />
        @Html.LabelFor(m => Model.PanierSaisonnier.Description)
        @Html.TextAreaFor(m => Model.PanierSaisonnier.Description, new { @class = "resizer" })

        <br />
        @Html.LabelFor(m => Model.PanierSaisonnier.Prix)
        @Html.TextBoxFor(m => Model.PanierSaisonnier.Prix,"{0:n2}")
        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }
</div>