@model Projet2.Models.PanierSaisonniers.PanierSaisonnier
@{
    ViewData["Title"] = "PaiementPanier";
}

<div class="container">
    <div class="col">
        @{
            String filepath = "~/ImagesPaniers/" + @Model.Image;
        }
        <img src="~ /ImagesPaniers/@Model.Image" class="card-img-top" alt="...">
    </div>

    <div class="col">
        <h5 class="">@Model.NomPanier</h5>
        <h6 class=" my-2">@Model.NomProducteur</h6>
        <p class="">@Model.Description</p>
        <p class="">@Model.Prix</p>
        <p>Durée d'abonnement</p>
        @Html.ActionLink("Modifier", "PaiementPanier", "Panier", new { @id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Annuler", "AfficherPanier", "Panier", new { @id = Model.Id }, new { @class = "card-link" })
    </div>
</div>

