@model Projet2.ViewModels.HomeViewModel



<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-2 menu-rigth">
            @Html.HiddenFor(m => @Model.Admin.Id)  
            @Html.HiddenFor(m => @Model.Admin.Role)  
            <p>@Html.ActionLink("Retour", "GestionEtatCommande", "Admin", @Model.Admin)</p>
        </div>
        <div class="col-md-12">
            <div class="product-details mr-2">

                    <form>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div>
                                            @{
                                            String filepath = "~/ImageArticle/" + @Model.CommandePanier.PanierSaisonnier.Image;
                                            }
                                            <img src="~/ImageArticle/@Model.CommandePanier.PanierSaisonnier.Image"
                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                        </div>
                                        <div class="ms-3">
                                            <h5>@Model.CommandePanier.PanierSaisonnier.NomPanier</h5>
                                            <p class="small mb-0">@Model.CommandePanier.PanierSaisonnier.AdP.NomProducteur</p>
                                            <p class="small mb-0">@Model.CommandePanier.PanierSaisonnier.AdP.Personne.NTelephone</p>
                                            <p class="small mb-0">@Model.CommandePanier.PanierSaisonnier.AdP.Personne.Identifiant.AdresseMail</p>
                                            <p class="small mb-0"> <br/> N° @Model.CommandePanier.ReturnNumeroCommandeForDisplay</p>
                                            <p class="small mb-0">Date de Livraison : @Model.CommandePanier.ReturnDateLivraisonForDisplayCommande</p>
                                            <p class="small mb-0">@Model.CommandePanier.PanierSaisonnier.Description</p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center m-2">
                                        <div style="max-width: 10rem">
                                            Quantité = @Model.CommandePanier.LignePanierSaisonnier.Quantite
                                            <h5 class="mb-0">  € @Decimal.Round(Model.CommandePanier.PanierSaisonnier.Prix,2)</h5>
                                            @if (@Model.CommandePanier.EstLivre)
                                        {                                           
                                            @if(@Model.CommandePanier.LignePanierSaisonnier.AvisId != null)
                                            {
                                            <p class="card-text">Avis : @Model.CommandePanier.LignePanierSaisonnier.Avis.Text</p>
                                            <p class="card-text">Note : @Model.CommandePanier.LignePanierSaisonnier.Avis.Note </p>                                                    
                                            }                                            
                                        }    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
            <hr>
            <label for="Total">Total pour @Model.CommandePanier.LignePanierSaisonnier.DureeAbonnement Semaines : @Decimal.Round(Model.CommandePanier.Total, 2) €</label>
            <hr>
        </div>
    </div>
</div>