@model Projet2.ViewModels.HomeViewModel
 

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Demandes Producteurs</h2>
</div>

<div class="container">
    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>@Html.ActionLink("Retour sur mon compte", "Index", "Admin", @Model.Admin)</p>
        </div>
        <div class="col-md-9">

           
            
            <h3>Propositions</h3>

            @foreach (var adp in @Model.ListeComptesAdP)
                {
                    <div class="card" style="margin-top:30px">
                        <div class="card-body">
                            <h4 class="card-title" align="center">@adp.NomProducteur</h4>                                    
                                        <h5>@adp.Personne.Nom @adp.Personne.Prenom</h5>
                                        <h5>@adp.Personne.Identifiant.AdresseMail</h5>
                                        <h5>Inscription : @adp.DateInscription</h5>
                                        <h5>Siren : @adp.Siren</h5>
                                        <h5>Active : @adp.EstActive</h5>
                                        <h5>Propositions Article</h5>
                     </div>
                      </div>
                     <div class="row row-cols-1 row-cols-md-4 g-5">                
                        @foreach (var article in @Model.AdP.Assortiment)
                        {
                            @if (!@article.EstValide && !@article.EstEnAttente)
                            {
                                var Prix = Decimal.Round(article.Prix, 2);
                                var PrixTTC = Decimal.Round(article.PrixTTC, 2);
                                <div class="col ">
                                <div class="card h-100">
                                <h5 class="card-title" align="center"> En attente</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">@article.Nom</h5>
                                        <p class="card-text">@article.Description</p>
                                        <p class="card-text">@Prix € (TTC : @PrixTTC €)</p>
                                        <p class="card-text">Stock : @article.Stock</p>
                                        <p class="card-text">@article.ReturnInscriptionDateForDisplayArticle</p>
                                        @if(@article.DateModification != DateTime.MinValue)
                                            {
                                                 <p class="card-text">Dernière Modification @article.ReturnModificationDateForDisplayArticle</p>
                                            } 
                                        @if(@article.AdminCommentaire != null)
                                            {
                                            <p class="card-text">Dernier Commentaire @article.AdminCommentaire</p>   
                                            }  
                                    </div>
                                    <div align="center">
                                    <form method="post" asp-controller="Admin" asp-action="GestionDemandesProducteurs">
                                    @Html.HiddenFor(m => @Model.Admin.Id)
                                    @Html.HiddenFor(m => @article.Id)
                                    @Html.HiddenFor(m => @Model.Admin.IdentifiantId)
                                     <p class="card-text"> Commentaire : <input id="article_AdminCommentaire" name="article.AdminCommentaire" type="text" value=" "></p> 
                                      <br/>
                                         <p class="card-text">@Html.Label("Etat", "Validé") @Html.RadioButtonFor(m => @article.EstValide, true)</p> 
                                         <p class="card-text"> @Html.Label("Etat", "Rejeté") @Html.RadioButtonFor(m =>  @article.EstValide, false)</p> 
                                    <button class="btn btn-primary" type="submit">Soumettre</button>
                                    </form>
                                    </div>
                                </div>
                                </div>                        
                            }                   
                        }
                    </div>  
                }


                <h3 style="margin-top:30px; margin-bottom:15px">Propositions Panier</h3>
                @foreach (var adp in @Model.ListeComptesAdP)
                {
                     <div class="card" style="margin-top:30px">
                        <div class="card-body">
                            <h4 class="card-title" align="center">@adp.NomProducteur</h4>
                                        <h5>@adp.Personne.Nom @adp.Personne.Prenom</h5>
                                        <h5>@adp.Personne.Identifiant.AdresseMail</h5>
                                        <h5>Inscription : @adp.DateInscription</h5>
                                        <h5>Siren : @adp.Siren</h5>
                                        <h5>Active : @adp.EstActive</h5>
                          <h5>Propositions Article</h5>s
                     </div>
                      </div>

            
            <div class="row row-cols-1 row-cols-md-4 g-5">                
                @foreach (var panierSaisonnier in @Model.AdP.AssortimentPanier)
                {
                    @if (!@panierSaisonnier.EstValide && !@panierSaisonnier.EstEnAttente)
                    {
                        var Prix = Decimal.Round(panierSaisonnier.Prix, 2);
                        <div class="col ">
                        <div class="card h-100">
                        <h5 class="card-title" align="center"> En attente</h5>
                            <div class="card-body">
                                <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                                <p class="card-text">@panierSaisonnier.Description</p>
                                <p class="card-text">@Prix €</p>
                                <p class="card-text">Création : @panierSaisonnier.ReturnInscriptionDateForDisplayPanier</p>
                                @if(@panierSaisonnier.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @panierSaisonnier.ReturnModificationDateForDisplayPanier</p>
                                    } 
                                @if(@panierSaisonnier.AdminCommentaire != null)
                                            {
                                            <p class="card-text">Dernier Commentaire @panierSaisonnier.AdminCommentaire</p>   
                                            }  
                               </div>
                                <div align="center">
                                <form method="post" asp-controller="Admin" asp-action="GestionDemandesProducteursPaniers">
                                @Html.HiddenFor(m => @Model.Admin.Id)
                                @Html.HiddenFor(m => @panierSaisonnier.Id)
                                @Html.HiddenFor(m => @Model.Admin.Role)
                                    <p class="card-text">  Commentaire : <input id="panierSaisonnier_AdminCommentaire" name="panierSaisonnier.AdminCommentaire" type="text" value=" "></p> 
                                    <br/>
                                        <p class="card-text">@Html.Label("Etat", "Validé") @Html.RadioButtonFor(m => @panierSaisonnier.EstValide, true)</p> 
                                        <p class="card-text"> @Html.Label("Etat", "Rejeté") @Html.RadioButtonFor(m =>  @panierSaisonnier.EstValide, false)</p> 
                                <button class="btn btn-primary" type="submit">Soumettre</button>
                                </form>
                                </div>

                        </div>
                        </div>                        
                    }                   
                }
            </div>  
            }
        </div>
    </div>   
</div>
