@model Projet2.ViewModels.HomeViewModel



<div class = "container">
    @Html.ActionLink("Retour sur mon compte", "Index", "Admin", @Model.Admin)
    <br/>
    <div>
        <p>Commandes En Preparation</p>
        
            @if(@Model.ListeComptesAdP.Count != 0)
            {                                  
                @foreach (var adp in @Model.ListeComptesAdP)
                {
                    <table border="1">
                        @if(adp.Assortiment.Count != 0)
                        {
                            <tr border="1">
                                <td>@adp.NomProducteur</td>
                                <td>@adp.Personne.Nom @adp.Personne.Prenom</td>
                                <td>@adp.Personne.Identifiant.AdresseMail</td>
                                <td>@adp.DateInscription</td>
                                <td>@adp.Siren</td>
                                <td>@adp.EstActive</td>
                            </tr>
                            @foreach(var article in @adp.Assortiment)
                            {
                            @if(@article.EstEnAttente == false && @article.EstValide == false)
                            {
                            <table border="1">
                                <tr border="1">
                                <td>Id @article.Id</td>
                                <tr>
                                    <td>@article.Nom</td>
                                    <td>@article.Description</td>
                                    <td>@article.Prix</td>  
                                    <td>@article.Prix TTC</td>  
                                    <td>@article.Stock</td>  
                                </tr>
                             <tr>
                             <td>
                                <form method="post" asp-controller="Admin" asp-action="GestionDemandesProducteurs">
                                @Html.HiddenFor(m => @Model.Admin.Id)
                                @Html.HiddenFor(m => @article.Id)
                                @Html.HiddenFor(m => @Model.Admin.IdentifiantId)
                                Commentaire : @Html.TextBoxFor(m => @article.AdminCommentaire)
                                <br/>
                               @Html.Label("Etat", "Validé")
                               @Html.RadioButtonFor(m => @article.EstValide, true)
                                <br/>
                               @Html.Label("Etat", "Rejeté")
                               @Html.RadioButtonFor(m =>  @article.EstValide, false)
                               <br/> 
                               <button class="btn btn-primary" type="submit">Soumettre</button>
                                </form>
                                  </td>
                                 </tr>
                                 </tr>
                                </table>                           
                            }

                            }
                    }
                    </table>
                }            
           }
           
    </div>

</div>