<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Appliweb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site2.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


    <script>
        function validate() {
            var valid = false;

            if (document.getElementById("contrat").checked) {
                valid = true;
            }

            if (valid) {
                alert("Validation Succesfull");
            }
            else {
                alert{ "Veuillez accepter les conditions pour continuer" }
                return false;
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/Images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark w-100" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Boutique" asp-action="AfficherBoutique">Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Producteur">Producteurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Activites">Activites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Inscription">Inscription</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Panier" asp-action="AfficherPaniers">Vos paniers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Boutique" asp-action="AjouterArticle">AjouterArticle</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="container">
                <div class="w-100">
                    <div class="navbar-collapse collapse dual-collapse2 flex-sm-row-reverse"> 

                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Connexion</a>
                        @*
                        @if (@Model.Authentifie)
                        {
                         <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Deconnexion">Déconnexion</a>
                        }

                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Connexion
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Je me connecte</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="CompteAdA" asp-action="CreationCompte">Je Crée Mon Compte</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="CompteAdP" asp-action="CreationCompte">Je m'inscrit en tant que Producteur</a></li>
                            </ul>
                        </div>
                        *@
                    </div>
                </div>

                <div class="navbar-collapse collapse dual-collapse2 flex-sm-row-reverse">

                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="button" id="panierVide">
                            <i class="bi bi-basket2" type="button"></i>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>


                    <button class="btn btn-outline-dark" type="button" id="panierRemplit" onclick="location.href='@Url.Action("IPanier", "Boutique")'">
                        <i class="bi bi-basket2" type="button"></i>
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="nombreArticle">1</span>
                    </button>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
    </div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <div class="container" id="azerty">
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Appliweb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

    
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/customJs.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
