@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Boutique";
}

<div class="container-fluid px-4 px-lg-5 my-5 bg-dark py-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Bienvenue sur notre boutique</h1>
        <p class="lead fw-normal text-white-50 mb-0">Des produits frais toute l'année</p>
    </div>
</div>

<!-- Products -->
<div class="container">
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <form method="post">
                <div class="row m-2">
                    <div class="input-group">
                        <input name="recherche" type="search" class="form-control rounded" placeholder="Produit" aria-label="Produit"
                               aria-describedby="search-addon" />
                    </div>
                </div>
                <div class="row m-2">
                        <div class="form-group">
                            <select id="form_need" name="rechercheAdP" class="form-control" data-error="Producteurs">

                                <option value=""></option>

                                @foreach (Projet2.Models.Compte.AdP adp in Model.ListeComptesAdP)
                                {
                                    <option value="@adp.NomProducteur"> @adp.NomProducteur </option>
                                }
                            </select>
                        </div>
                </div>
                <div class="row m-2">


                    <button type="submit" class="btn btn-outline-primary">Recherche</button>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
                @foreach (Projet2.Models.Boutique.Article article in @Model.Boutiques.Articles as List<Projet2.Models.Boutique.Article>)
                {
                    @if(@article.EstValide && !@article.EstEnAttente)
                    {                                            
                    <div class="col">
                        <div class="card h-100">
                            @{
                                String filepath = "~/ImageArticle/" + @article.Image;
                            }
                            <img src="~/ImageArticle/@article.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center" style="max-height: 2em">@article.Nom</h5>
                                <p class="card-text text-center" style="max-height: 4em">€ @Decimal.Round(article.PrixTTC, 2)</p>
                                <div class="d-grid gap-2 col-12 mx-auto">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick="location.href='@Url.Action("Article", "Boutique", new { @Id = article.Id })'">
                                        Voir Article
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    }                
            </div>
        </div>
    </div>
</div>