@model Projet2.ViewModels.HomeViewModel

@{
}

<section class="py-5 afternav">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/ImageArticle/@Model.Article.Image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Stock: @Model.Article.Stock</div>
                <h1 class="display-5 fw-bolder">@Model.Article.Nom</h1>
                <div class="fs-5 mb-5">
                    <span> @Decimal.Round(Model.Article.PrixTTC, 2) €</span>

                </div>
                <p class="lead">@Model.Article.Description</p>
                <div class="d-flex">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => Model.Article.Id)
                        <input class="form-control text-center me-3" id="inputQuantity" type="number" min=0 value="1" style="max-width: 4rem" name="Quantite" required />
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi bi-basket2 me-1"></i>
                            Ajouter au panier
                        </button>
                    }
                </div>
            </div>
        </div>

            @foreach(var avis in @Model.Article.Avis)
            {
                <br/>
                @avis.Note
                <br/>
                @avis.Text
                <br/>
                @avis.AdAId
                <br/>
                <br/>
            }
    </div>
</section>
