@model Projet2.ViewModels.HomeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Shopping</span></div>
                <hr>
                <h6 class="mb-0">Votre Panier</h6>
                <div class="d-flex justify-content-between">
                    <span>Vous avez </span>
                    <div class="d-flex flex-row align-items-center">
                        <span class="text-black-50"></span>
                        <div class="price ml-2"><span class="mr-1"></span><i class="fa fa-angle-down"></i></div>
                    </div>
                </div>

                @foreach (Projet2.Models.Boutique.LignePanierBoutique ligne in Model.PanierBoutique.LignePanierBoutiques)
                {

                    var prixTTC = Decimal.Round(ligne.Article.PrixTTC, 2);
                    var SousTotal = Decimal.Round(ligne.SousTotal, 2);

                    <form method="post" asp-controller="Boutique" asp-action="ModifierPanier">

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div>
                                            <img src="~/ImageArticle/@ligne.Article.Image"
                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                        </div>
                                        <div class="ms-3">
                                            <h5>@ligne.Article.Nom</h5>
                                            <p class="small mb-0">@ligne.Article.Description</p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <div style="width: 50px;">
                                            <input type="number" class="form-control" name="quantite" value="@ligne.Quantite" />
                                        </div>
                                        <div style="width: 80px;">
                                            <h5 class="mb-0"> €@SousTotal</h5>
                                        </div>
                                        <a style="color: #cecece;"><i class="bi bi-trash" type="button" onclick="location.href='@Url.Action("SupprimerLigne", "Boutique" ,new {Id= ligne.Id})'"></i></a>
                                        <div>
                                            <button class="btn btn-primary" type="submit">Modifier</button>
                                            <input type="hidden" name="Id" value="@ligne.Id" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>



                    <div class="row">

                        <div class="col-2"> @ligne.Article.Nom</div>
                        <div class="col-2">
                            <input type="number" class="form-control" name="quantite" value="@ligne.Quantite" />
                            <input type="hidden" name="Id" value="@ligne.Id" />
                        </div>
                        <div class="col-2">@prixTTC</div>
                        <div class="col-2">@SousTotal</div>

                        <div class="col-2"><button class="btn btn-primary" type="submit">Modifier</button></div>


                    </div>

                    <form method="post" asp-controller="Boutique" asp-action="SupprimerLigne">
                        <input type="hidden" name="Id" value="@ligne.Id" />

                        <div class="col-2"><button class="btn btn-primary" type="submit">Supprimer</button></div>
                    </form>
                }



                <button type="button" class="btn btn-info btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                        <span>$4818.00</span>
                        <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                    </div>
                </button>
                ;
            </div>
                <a class="btn btn-primary" type="button" asp-area="" asp-controller="Boutique" asp-action="ViderPanier">Vider le Panier</a>
                <form method="post" asp-controller="Payment" asp-action="EtapePaiement">

                    <label for="Total">Total = @Model.PanierBoutique.Total</label>


                    <input type="hidden" name="Total" value="@Model.PanierBoutique.Total" />

                    <div class="col-2"><button class="btn btn-primary" type="submit">Paiment</button></div>
                </form>

            </div>
    </div>
</div>