@model Projet2.Models.Boutique.PanierBoutique
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{

    }

<div class="container">


    <div class="row">
        <div class="col-2">Nom</div>
        <div class="col-3">Quantite</div>
        <div class="col-2">Prix Unitaire</div>
        <div class="col-3">Sous-Total</div>
        <div class="col-2"></div>
    </div>

    @foreach (Projet2.Models.Boutique.LignePanierBoutique ligne in Model.LignePanierBoutiques)
    {

        var prixTTC = Decimal.Round(ligne.Article.PrixTTC, 2);
        var SousTotal = Decimal.Round(ligne.SousTotal, 2);

        <form method="post" asp-controller="Boutique" asp-action="ModifierPanier">


            <div class="row">


                <div class="col-2"> @ligne.Article.Nom</div>
                <div class="col-2">
                    <input type="number" class="form-control" name="quantite" value="@ligne.Quantite" />
                    <input type="hidden" name="Id" value="@ligne.Id" />
                </div>
                <div class="col-2">@prixTTC</div>
                <div class="col-2">@SousTotal</div>

                <div class="col-2"><button class="btn btn-primary" type="submit">Modifier</button></div>


            </div>

        </form>
        <form method="post" asp-controller="Boutique" asp-action="SupprimerLigne">
            <input type="hidden" name="Id" value="@ligne.Id" />

            <div class="col-2"><button class="btn btn-primary" type="submit">Supprimer</button></div>
        </form>

    }


</div>
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Boutique" asp-action="ViderPanier">Vider le Panier</a>
