@model Projet2.ViewModels.HomeViewModel




<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-2 menu-rigth">
            <p>@Html.ActionLink("Retour", "CommandesAPreparer", "EspaceAdP")</p>
        </div>
        <div class="col-md-12">
            <div class="product-details mr-2">

                @foreach (var lignePanierBoutique in @Model.Commande.PanierBoutique.LignePanierBoutiques)
                {

                    var prixTTC = Decimal.Round(lignePanierBoutique.Article.PrixTTC, 2);
                    var SousTotal = Decimal.Round(lignePanierBoutique.SousTotal, 2);

                    <form>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between ">
                                    <div class="d-flex flex-row align-items-center p-2">
                                        <div>
                                            <img src="~/ImageArticle/@lignePanierBoutique.Article.Image"
                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                        </div>
                                        <div class="ms-3">
                                            <h5>@lignePanierBoutique.Article.AdP.NomProducteur</h5>
                                            <h5>@lignePanierBoutique.Article.Nom</h5>
                                            <p class="small mb-0">@lignePanierBoutique.Article.Description</p>
                                            <p class="small mb-0">Stock : @lignePanierBoutique.Article.Stock</p>
                                            <p class="card-text">Quantité : @lignePanierBoutique.Quantite</p>
                                            <p class="card-text">Prix : @prixTTC €</p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-col align-items-center m-2">
                                        <div style="max-width: 10rem">
                                            Quantité = @lignePanierBoutique.Quantite
                                            <h5 class="mb-0"> <br/> € @SousTotal</h5>
                                            @if (@Model.Commande.EstLivre)
                                        {
                                            @if(@lignePanierBoutique.AvisId == null)
                                                    {
                                                    <p align="center">@Html.ActionLink("Donner votre avis", "ArticleAvis", "Boutique", @lignePanierBoutique)</p>
                                                    }
                                                    @if(@lignePanierBoutique.AvisId != null)
                                                    {
                                                    <p class="card-text">Avis : @lignePanierBoutique.Avis.Text</p>
                                                    <p class="card-text">Note : @lignePanierBoutique.Avis.Note </p>                                                    
                                                    }                                            
                                        }       
                                        </div>                                      
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>

                }

            </div>
            <hr>

            <label for="Total">Total = @Decimal.Round(Model.Commande.PanierBoutique.Total, 2) €</label>
            <hr>


        </div>
    </div>
</div>