@model Projet2.ViewModels.HomeViewModel

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Mes Commandes A Préparer</h2>
</div>

<div class="container">
    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            @Html.HiddenFor(m => @Model.AdP.Id)  
            <p>@Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)</p>  
            <p>Aujourd'hui : <script> document.write(new Date().toLocaleDateString()); </script></p>           
            <p>Prochaine Date de Livraison @Model.ReturnDateForDisplayLivraison</p>   
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                
                @foreach (var commande in @Model.ListeCommandesEnPrep)
                {
                var Total = Decimal.Round(commande.PanierBoutique.Total, 2);   
                        <div class="row ">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title" align="center">Boutique</h5>
                                
                                <img src="~/ImageArticle/Default.jpg" class="card-img-top" alt="..." style="width: 100%; align-content: center; height:100px"/>
                                
                                    <p class="card-text" align="center"><br/>N° @commande.ReturnNumeroCommandeForDisplay</p>
                                    <p class="card-text" align="center">@commande.ReturnDateCommandeForDisplayCommande</p>
                                    <p class="card-text" align="center">Livraison : @commande.ReturnDateForDisplayCommande</p>
                                    <p class="card-text" align="center">@commande.EtatCommande</p>
                                    <p class="card-text" align="center">@Total €</p>
                                    @if(@commande.AdA != null)
                                    {
                                    <p class="card-text"  align="center">@commande.AdA.Personne.Prenom @commande.AdA.Personne.Nom </p>
                                    }
                                    @if(@commande.Client != null)
                                    {
                                    <p class="card-text"  align="center">@commande.Client.Prenom @commande.Client.Nom </p>
                                    }
                                    @if(@commande.Entreprise != null)
                                    {
                                    <p class="card-text"  align="center">@commande.Entreprise.NomEntreprise </p>
                                    }
                                    <div align="center">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick="location.href='@Url.Action("Commande_infos", "EspaceAdP", new { @CommandeId = commande.Id })'"> voir détails</button>                                    
                                    <br/>
                                    </div>
                                    <div align="center">
                                    <form method="post" asp-controller="EspaceAdP" asp-action="CommandesAPreparer">
                                      @Html.HiddenFor(m => @Model.AdP.Id)
                                      @Html.HiddenFor(m => @commande.PanierBoutiqueId)
                                      @Html.HiddenFor(m => @commande.Id)
                                    <button id="Commande_EtatCommande" name="Commande.EtatCommande" class="btn btn-primary" type="submit" value="EstEnLivraison">Mettre en Livraison</button>                                     
                                    </form>
                                    </div>
                        </div>
            </div>                       
        </div>                    
                }

                @foreach (var commandePanier in @Model.ListeCommandesPanierEnPrep)
                {
                    var TotalPanier = Decimal.Round(commandePanier.PanierSaisonnier.Prix, 2);                   
                        <div class="row ">
                                    
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title" align="center">Panier</h5>                                        
                                    @{
                                        String filepath = "~/ImageArticle/" + @commandePanier.PanierSaisonnier.Image;
                                    }
                                    <img src="~/ImageArticle/@commandePanier.PanierSaisonnier.Image" class="card-img-top" alt="..." style="width: 100%; align-content: center; height:100px" />                                       
                                    <p class="card-text" align="center"> <br/> N° @commandePanier.ReturnNumeroCommandeForDisplay</p>
                                    <p class="card-text" align="center">@commandePanier.ReturnDateCommandeForDisplayCommande</p>
                                    <p class="card-text" align="center">Livraison : @commandePanier.ReturnDateLivraisonForDisplayCommande</p>
                                    <p class="card-text" align="center">@commandePanier.EtatCommande</p>
                                    <p class="card-text" align="center">@TotalPanier €</p>                                    
                                    @if(@commandePanier.AdA != null)
                                    {
                                    <p class="card-text"  align="center">@commandePanier.AdA.Personne.Prenom @commandePanier.AdA.Personne.Nom </p>
                                    }
                                    
                                    @if(@commandePanier.Entreprise != null)
                                    {
                                    <p class="card-text"  align="center">@commandePanier.Entreprise.NomEntreprise </p>
                                    }
                                    <div align="center">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick="location.href='@Url.Action("CommandePanier_infos", "EspaceAdP", new { @CommandePanierId = commandePanier.Id })'"> voir détails</button>
                                    <br/>
                                    </div>
                                    <div align="center">
                                    <form method="post" asp-controller="EspaceAdP" asp-action="CommandesPanierAPreparer">
                                      @Html.HiddenFor(m => @Model.AdP.Id)
                                      @Html.HiddenFor(m => @commandePanier.Id)
                                    <button id="CommandePanier_EtatCommande" name="CommandePanier.EtatCommande" class="btn btn-primary" type="submit" value="EstEnLivraison">Mettre en Livraison</button>                                     
                                    </form>                                                                                              
                                </div>
                             </div>
                        </div>                                                                        
                    </div>                
                }
            </div>
        </div>
    </div>   
</div>



