@model Projet2.ViewModels.HomeViewModel


<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Mon Assortiment en Boutique</h2>
</div>

<!-- Products -->
<div class="container">
    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>@Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                
                @foreach (var article in @Model.AdP.Assortiment)
                {
                    @if (!@article.EstValide && @article.EstEnAttente)
                    {
                        var Prix = Decimal.Round(article.Prix, 2);
                        var PrixTTC = Decimal.Round(article.PrixTTC, 2);
                        <div class="col ">
                        <div class="card h-100">
                            <h5 class="card-title" color="red" align="center">A modifier</h5>
                            @{
                                String filepath = "~/ImageArticle/" + @article.Image;
                            }
                            <img src="~/ImageArticle/@article.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@article.Nom</h5>
                                <p class="card-text">@article.Description</p>
                                <p class="card-text">@Prix € (TTC : @PrixTTC €)</p>
                                <p class="card-text">Stock : @article.Stock</p>
                                <p class="card-text">Création : @article.ReturnInscriptionDateForDisplayArticle</p>
                                    @if(@article.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @article.ReturnModificationDateForDisplayArticle</p>
                                    }                                  
                                <p class="card-text">Commentaire : @article.AdminCommentaire</p>
                                <p class="card-text" align="center">@Html.ActionLink("Modifier", "ArticleModification", "EspaceAdP", @article)</p>
                            </div>
                        </div>
                        </div>                        
                    }                   
                }
                
                @foreach (var article in @Model.AdP.Assortiment)
                {
                    @if (@article.EstValide)
                    {
                        var Prix = Decimal.Round(article.Prix, 2);
                        var PrixTTC = Decimal.Round(article.PrixTTC, 2);
                        <div class="col ">                           
                        <div class="card h-100">
                            <h5 class="card-title" align="center">En boutique</h5>
                            @{
                                String filepath = "~/ImageArticle/" + @article.Image;
                            }
                            <img src="~/ImageArticle/@article.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@article.Nom</h5>
                                <p class="card-text">@article.Description</p>
                                <p class="card-text">@Prix € (TTC : @PrixTTC €)</p>
                                <p class="card-text">Stock : @article.Stock</p>
                                <p class="card-text">@article.ReturnInscriptionDateForDisplayArticle</p>
                                @if(@article.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @article.ReturnModificationDateForDisplayArticle</p>
                                    } 
                                <p class="card-text" align="center">@Html.ActionLink("Modifier", "ArticleModification", "EspaceAdP", @article)</p>
                            </div>
                        </div>
                        </div>                        
                    }                   
                }
                
                @foreach (var article in @Model.AdP.Assortiment)
                {
                    @if (!@article.EstValide && !@article.EstEnAttente)
                    {
                        var Prix = Decimal.Round(article.Prix, 2);
                        var PrixTTC = Decimal.Round(article.PrixTTC, 2);
                        <div class="col ">
                        <div class="card h-100">
                        <h5 class="card-title" align="center"> En attente</h5>
                            @{
                                String filepath = "~/ImageArticle/" + @article.Image;
                            }
                            <img src="~/ImageArticle/@article.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@article.Nom</h5>
                                <p class="card-text">@article.Description</p>
                                <p class="card-text">@Prix € (TTC : @PrixTTC €)</p>
                                <p class="card-text">Stock : @article.Stock</p>
                                <p class="card-text">@article.ReturnInscriptionDateForDisplayArticle</p>
                                @if(@article.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @article.ReturnModificationDateForDisplayArticle</p>
                                    } 
                            </div>
                        </div>
                        </div>                        
                    }                   
                }
            </div>            
        </div>
    </div>   
</div>
