@model Projet2.ViewModels.HomeViewModel
 

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Mon Assortiment de Paniers Saisonniers</h2>
</div>
@Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)
<!-- Products -->
<div class="container">
    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                @foreach (var panierSaisonnier in @Model.AdP.AssortimentPanier)
                {
                    <div class="col ">
                        <div class="card h-100">
                            @{
                                String filepath = "~/ImageArticle/" + @panierSaisonnier.Image;
                            }
                            <img src="~/ImageArticle/@panierSaisonnier.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                                <p class="card-text">@panierSaisonnier.Description</p>
                                <p class="card-text">@panierSaisonnier.Prix</p>
                                @Html.ActionLink("Modifier", "PanierModification", "EspaceAdP", @panierSaisonnier)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>   
</div>
