@model Projet2.ViewModels.HomeViewModel
 

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Mon Assortiment de Paniers Saisonniers</h2>
</div>

<!-- Products -->
<div class="container">
    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>@Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                
                @foreach (var panierSaisonnier in @Model.AdP.AssortimentPanier)
                {
                    @if (!@panierSaisonnier.EstValide && @panierSaisonnier.EstEnAttente)
                    {
                        var Prix = Decimal.Round(panierSaisonnier.Prix, 2);
                        <div class="col ">
                        <div class="card h-100">
                            <h5 class="card-title" align="center">A modifier</h5>
                            @{
                                String filepath = "~/ImageArticle/" + @panierSaisonnier.Image;
                            }
                            <img src="~/ImageArticle/@panierSaisonnier.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                                <p class="card-text">@panierSaisonnier.Description</p>
                                <p class="card-text">@Prix €</p>
                                <p class="card-text">Création : @panierSaisonnier.ReturnInscriptionDateForDisplayPanier</p>
                                @if(@panierSaisonnier.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @panierSaisonnier.ReturnModificationDateForDisplayPanier</p>
                                    } 
                                <p class="card-text">Commentaire : @panierSaisonnier.AdminCommentaire</p>
                                <p class="card-text" align="center">@Html.ActionLink("Modifier", "PanierModification", "EspaceAdP", @panierSaisonnier)</p>
                            </div>
                        </div>
                        </div>                        
                    }                   
                }
                
                @foreach (var panierSaisonnier in @Model.AdP.AssortimentPanier)
                {
                    @if (@panierSaisonnier.EstValide)
                    {
                        var Prix = Decimal.Round(panierSaisonnier.Prix, 2);
                        <div class="col ">                            
                        <div class="card h-100">
                            <h5 class="card-title" align="center">En boutique</h5>
                            @{
                                String filepath = "~/ImageArticle/" + @panierSaisonnier.Image;
                            }
                            <img src="~/ImageArticle/@panierSaisonnier.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                                <p class="card-text">@panierSaisonnier.Description</p>
                                <p class="card-text">@Prix €</p>
                                <p class="card-text">Création : @panierSaisonnier.ReturnInscriptionDateForDisplayPanier</p>
                                @if(@panierSaisonnier.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @panierSaisonnier.ReturnModificationDateForDisplayPanier</p>
                                    }                                 
                                <p class="card-text" align="center">@Html.ActionLink("Modifier", "PanierModification", "EspaceAdP", @panierSaisonnier)</p>
                            </div>
                        </div>
                        </div>                        
                    }                   
                }
                
                @foreach (var panierSaisonnier in @Model.AdP.AssortimentPanier)
                {
                    @if (!@panierSaisonnier.EstValide && !@panierSaisonnier.EstEnAttente)
                    {
                        var Prix = Decimal.Round(panierSaisonnier.Prix, 2);
                        <div class="col ">
                        <div class="card h-100">
                        <h5 class="card-title" align="center"> En attente</h5>
                           @{
                                String filepath = "~/ImageArticle/" + @panierSaisonnier.Image;
                            }
                            <img src="~/ImageArticle/@panierSaisonnier.Image" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">@panierSaisonnier.NomPanier</h5>
                                <p class="card-text">@panierSaisonnier.Description</p>
                                <p class="card-text">@Prix €</p>
                                <p class="card-text">Création : @panierSaisonnier.ReturnInscriptionDateForDisplayPanier</p>
                                @if(@panierSaisonnier.DateModification != DateTime.MinValue)
                                    {
                                         <p class="card-text">Dernière Modification @panierSaisonnier.ReturnModificationDateForDisplayPanier</p>
                                    } 
                            </div>
                        </div>
                        </div>                        
                    }                   
                }
            </div>            
        </div>
    </div>   
</div>
