@model Projet2.ViewModels.HomeViewModel

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Historique des Commandes Panier</h2>
</div>

<div class="container">    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>@Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                @Html.HiddenFor(m => @Model.AdP.Id)  
                @foreach (var commandePanier in @Model.ListeCommandesPanierLivres)
                {
                    var Total = Decimal.Round(commandePanier.PanierSaisonnier.Prix, 2);   
                    <div class="row ">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">N° @commandePanier.ReturnNumeroCommandeForDisplay</h5>
                                <p class="card-text">Date de Commande : @commandePanier.ReturnDateCommandeForDisplayCommande</p>
                                <p class="card-text">@commandePanier.EtatCommande</p>
                                <p class="card-text"><br>Acheteur :</p>
                                @if(@commandePanier.AdA != null)
                                {
                                <p class="card-text">@commandePanier.AdA.Personne.Prenom @commandePanier.AdA.Personne.Nom </p>
                                }
                                    
                                @if(@commandePanier.Entreprise != null)
                                {
                                <p class="card-text">@commandePanier.Entreprise.NomEntreprise </p>
                                }
                                <div class="row ">
                                                                         
                                            
                                                    
                                    <p class="card-text">Panier @commandePanier.PanierSaisonnier.NomPanier</p>
                                    <p class="card-text">Prix : @Total€</p>
                                    @if(@commandePanier.LignePanierSaisonnier.Avis != null)
                                    {
                                    <p class="card-text">Note : @commandePanier.LignePanierSaisonnier.Avis.Note</p>
                                    <p class="card-text">Avis : @commandePanier.LignePanierSaisonnier.Avis.Text</p>
                                    }
                                                    
                                                                               
                                    
                                </div>
                            </div>                       
                         </div>    
                    </div> 
                }
                
            </div>
        </div>
    </div>   
</div>
                      