@model Projet2.ViewModels.HomeViewModel

<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Historique des Commandes en Boutique</h2>
</div>

<!-- Products -->
<div class="container">
    @Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                @Html.HiddenFor(m => @Model.AdP.Id)  
                @foreach (var commande in @Model.ListeCommandesLivres)
                {
                var Total = Decimal.Round(commande.PanierBoutique.Total, 2);   
                        <div class="row ">
                                <div class="card-body">
                                    <h5 class="card-title">Commande @commande.Id</h5>
                                    <p class="card-text">Date de Commande : @commande.DateTime</p>
                                    <p class="card-text">@commande.EtatCommande</p>
                                    <p class="card-text">@commande.AdA.Personne.Prenom @commande.AdA.Personne.Nom </p>
                                    <div class="row ">
                                    @foreach(var lignePanierBoutique in @commande.PanierBoutique.LignePanierBoutiques)
                                    {                                       
                                            <div class="card h-100">
                                                    <div class="card-body">
                                                    <p class="card-text">Id Article @lignePanierBoutique.Article.Id</p>
                                                    <p class="card-text">@lignePanierBoutique.Article.Nom</p>
                                                    <p class="card-text">@lignePanierBoutique.Article.Avis</p>
                                                    </div>
                                            </div>                                    
                                    }
                                    </div>
                                    <p class="card-text">Total : @Total€</p>
                                </div>                       
                        </div>                    
                }
            </div>
        </div>
    </div>   
</div>