@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "ModifierPanier";
}

<div class="container mt-3">
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Modifier un Panier : </legend>
        @Html.HiddenFor(m => Model.PanierSaisonnier.Id)
        @Html.HiddenFor(m => Model.PanierSaisonnier.AdPId)
        @Html.HiddenFor(m => Model.AdP.Id)

        @Html.LabelFor(m => Model.PanierSaisonnier.NomPanier)
        @Html.TextBoxFor(m => Model.PanierSaisonnier.NomPanier)
        <br />
        @Html.LabelFor(m => Model.PanierSaisonnier.ProduitsProposes)
        @Html.TextBoxFor(m => Model.PanierSaisonnier.ProduitsProposes)
        @*@foreach (var item in Model.ProduitsProposes)
        {
        }*@
        @*<ul class=" list-group">
            @foreach (var item in Model.ProduitsProposes)
            {
                <a class="list-group-item list-group-item-action " placeholder="Small input" align-content-start asp-controller="Panier" asp-action="ModifierPanier">@item.NomProduit</a>
            }
        </ul>*@
        @Html.ValidationMessageFor(m => Model.PanierSaisonnier.ProduitsProposes)
        <br />
        @Html.LabelFor(m => Model.PanierSaisonnier.Description)
        @Html.TextAreaFor(m => Model.PanierSaisonnier.Description, new { @class = "resizer" })

        <br />
        @Html.LabelFor(m => Model.PanierSaisonnier.Prix)
        @Html.TextBoxFor(m => Model.PanierSaisonnier.Prix, "{0:n2}", new { @type = "number" })
        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }
    <br/>
    @Html.ActionLink("Supprimer Panier", "SupprimerPanier", "EspaceAdP", @Model.PanierSaisonnier)
</div>