@model Projet2.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ateliers Favoris</title>
</head>
<body>
    <div>
        @Html.HiddenFor(m => @Model.ContactComiteEntreprise.Id)
        Bonjour @Model.ContactComiteEntreprise.Prenom

        <br />
        Ma Liste d'Ateliers :
        @*

        *@
        <br />
        @Html.ActionLink("Mes Articles Favoris", "ArticlesFavoris", "CompteCE", @Model.ContactComiteEntreprise)
        @Html.ActionLink("Mes Producteurs Favoris", "ProducteursFavoris", "CompteCE", @Model.ContactComiteEntreprise)
        @Html.ActionLink("Mon Compte", "Index", "CompteCE", @Model.ContactComiteEntreprise)
    </div>


</body>
</html>
