@model Projet2.ViewModels.HomeViewModel
@{

}
    <div class = "container">
        Mon Compte : 
        <br/>
        Nom : @Model.ContactComiteEntreprise.Nom
        <br/>
        Prenom: @Model.ContactComiteEntreprise.Prenom
        <br/>
        Téléphone: @Model.ContactComiteEntreprise.NTelephone
        <br/>
        Adresse Mail: @Model.ContactComiteEntreprise.AdresseMail
        <br/>
        Nom de l'entreprise : @Model.Entreprise.NomEntreprise
        <br/>
        Numéro SIREN : @Model.Entreprise.Siren
        <br/>
        Nombre Collaborateurs inscrits au service: @Model.Entreprise.NombreUtilisateur
        <br/>
        <br/>
        Adresse : 
        <br/>
        @Model.Adresse.Numero @Model.Adresse.Voie
        <br/>
        @Model.Adresse.CodePostal @Model.Adresse.Ville
        <br />
        <br />

        <br/>
        @Html.ActionLink("Modifier Compte", "ModificationCompte", "CompteCE", @Model.ContactComiteEntreprise)
        <br/>
        @Html.ActionLink("Supprimer Compte", "SuppressionCompte", "CompteCE", @Model.ContactComiteEntreprise)
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
        <br/>
        @Html.ActionLink("Retour", "Index", "CompteCE", @Model.ContactComiteEntreprise)
    </div>

