@model Projet2.ViewModels.HomeViewModel
@using Microsoft.Extensions.Options
@inject IOptions<Projet2.Data.StripeSettings> Stripe

@{
    decimal Apayer = 12.00M;
    decimal APayer = Apayer * 100;
    var PrixAPayer = Decimal.Round(Apayer, 2);

}

<section class="signupLayout">
        <div class="container">

                         <div class="tabs">
                       <nav class="navbar navbar-expand-lg">
                            <div class="collapse navbar-collapse">
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="CompteAdA" asp-action="CreationCompte">Je suis un particulier</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link chosen" asp-area="" asp-controller="CompteCE" asp-action="CreationCompte">Je represente un CE</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="CompteAdP" asp-action="CreationCompte">Je suis un producteur</a>
                                        </li>
                                    </ul>
                                </div>
                        </nav>
                   </div>
            <div  class="user signupBx">


                <div class="formBx">
                  @if(@Model == null)
                        {

                    <form asp-action="CreationCompte" asp-controller="CompteCE" method="post"> 
                        <h2>Créez un Identifiant </h2>
                        <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                             </colgroup>
                          <tr >
                              <th>@Html.LabelFor(m => Model.Identifiant.AdresseMail)</th>
                              <th>@Html.TextBoxFor(m => Model.Identifiant.AdresseMail, new {placeholder="vous@mail.com"})
                                  @Html.ValidationMessageFor(m => Model.Identifiant.AdresseMail) </th>
                          </tr>
                          <tr>
                              <th>@Html.LabelFor(m => Model.Identifiant.MotDePasse)</th>
                              <th>@Html.PasswordFor(m => Model.Identifiant.MotDePasse, new {placeholder="Mot de Passe"})
                                  @Html.ValidationMessageFor(m => Model.Identifiant.MotDePasse)
                                @if(@Model != null)
                                {
                                  @if(@Model.AdresseExistante == true)
                                        {
                                        <br/><p class="text-danger">"Cet adresse mail est déjà utilisé"</p><br/>
                                        }  
                                }
                                
                              </th>
                         </tr>
                        </table>

                        <h2> Ajoutez les Informations sur votre Entreprise</h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Entreprise.NomEntreprise)</th>
                              <th>@Html.TextBoxFor(m => Model.Entreprise.NomEntreprise,  new {placeholder="Nom de l'Entreprise"})
                              @Html.ValidationMessageFor(m => Model.Entreprise.NomEntreprise, "", new { @class = "text-danger" })</th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Entreprise.NombreUtilisateur)</th>
                              <th>@Html.TextBoxFor(m => Model.Entreprise.NombreUtilisateur, new {placeholder="Nombre des collaborateurs bénéficiant de ce service"})
                              @Html.ValidationMessageFor(m => Model.Entreprise.NombreUtilisateur, "", new { @class = "text-danger" })</th>
                            </tr>
                            <tr>
                              <th> @Html.LabelFor(m => Model.Entreprise.Siren)</th>
                              <th>@Html.TextBoxFor(m => Model.Entreprise.Siren, new {placeholder="Numéro SIREN de 9 chiffres"})
                              @Html.ValidationMessageFor(m => Model.Entreprise.Siren, "", new { @class = "text-danger" })</th>
                            </tr>
                            </table>


                        <h2> Insérez vos Données </h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.Nom)</th>
                              <th>@Html.TextBoxFor(m => Model.ContactComiteEntreprise.Nom, new {placeholder="Nom de Famille"})
                              @Html.ValidationMessageFor(m => Model.ContactComiteEntreprise.Nom, "", new { @class = "text-danger" })</th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.Prenom)</th>
                              <th>@Html.TextBoxFor(m => Model.ContactComiteEntreprise.Prenom, new {placeholder="Prénom"})
                              @Html.ValidationMessageFor(m => Model.ContactComiteEntreprise.Prenom, "", new { @class = "text-danger" })</th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.NTelephone)</th>
                              <th>@Html.TextBoxFor(m => Model.ContactComiteEntreprise.NTelephone, new { placeholder="Numéro Téléphone"})</th> @*, required = "required", pattern = @"\d{10}" *@
                              <th>@Html.ValidationMessageFor(m => Model.ContactComiteEntreprise.NTelephone, "", new { @class = "error" })</th>

                            </tr>
                            </table>

                        <h2> Remplissez les Informations de Paiement </h2>
                        <h2 class="signup"> (Adresse de l'Entreprise) </h2>
                        <table width=100%>
                        <colgroup>
                            <col style="width: 25%" align="right">
                            <col style="width: 15%">
                            <col style="width: 5%">
                            <col style="width: 55%">
                        </colgroup>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.Numero)</th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Numero)
                            @Html.ValidationMessageFor(m => Model.Adresse.Numero, "", new { @class = "text-danger" })</th>
                            <th>@Html.LabelFor(m => Model.Adresse.Voie)</th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Voie)
                            @Html.ValidationMessageFor(m => Model.Adresse.Voie, "", new { @class = "text-danger" })</th>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.CodePostal) </th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.CodePostal)
                            @Html.ValidationMessageFor(m => Model.Adresse.CodePostal, "", new { @class = "text-danger" })</th>
                            <th>@Html.LabelFor(m => Model.Adresse.Ville) </th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Ville)
                            @Html.ValidationMessageFor(m => Model.Adresse.Ville, "", new { @class = "text-danger" })</th>
                        </tr>
                        </table>
                         <table width=100%>
                            <colgroup>
                                <col style="width: 10%" align="right">
                                <col style="width: 90%">
                            </colgroup>
                                <tr align="justify">
                                <th >@Html.CheckBoxFor(m => Model.Entreprise.EstEnAccord)</th>
                                <th>@Html.LabelFor(m => Model.Entreprise.EstEnAccord)
                                @Html.ValidationMessageFor(m => Model.Entreprise.EstEnAccord, "", new { @class = "text-danger" })</th>
                            </tr>
                        </table>
                         <table width=100%>
                            <tr align="center">
                               <th>
                                <input type="submit" value="Créez votre Compte">                              
                              </th>                              
                            </tr>
                            <tr align="center">
                              <th class="signup">Déjà un Compte ?<a asp-area="" asp-controller="Login" asp-action="Index"> Connectez-vous</a></th>
                            </tr>
                        </table>
                        </form>
                        } 
                     
                        @if(@Model != null)
                    {
                    @if(@Model.ContactComiteEntreprise.EstCE)
                        {
                        <form asp-action="Paiement" asp-controller="CompteCE" method="post">
                        
                            <h2>Votre Identifiant </h2>
                        <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                             </colgroup>
                          <tr >
                              <th>@Html.LabelFor(m => Model.Identifiant.AdresseMail)</th>
                              <th class="signup">@Html.DisplayFor(m => Model.Identifiant.AdresseMail)</th>                               
                          </tr>
                        </table>

                        <h2> Les Informations sur votre Entreprise</h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Entreprise.NomEntreprise)</th>
                              <th class="signup">@Html.DisplayFor(m => Model.Entreprise.NomEntreprise)</th> 
                            </tr>
                              <tr>
                              <th>@Html.LabelFor(m => Model.Entreprise.NombreUtilisateur)</th>
                              <th class="signup">@Html.DisplayFor(m => Model.Entreprise.NombreUtilisateur)</th> 
                            </tr>
                              <tr>
                              <th> @Html.LabelFor(m => Model.Entreprise.Siren)</th>
                              <th class="signup">@Html.DisplayFor(m => Model.Entreprise.Siren)</th> 
                              </tr>
                            </table>


                        <h2> Vos Données </h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.Nom)</th>
                               <th class="signup">@Html.DisplayFor(m => Model.ContactComiteEntreprise.Nom)</th> 
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.Prenom) </th>
                              <th class="signup">@Html.DisplayFor(m => Model.ContactComiteEntreprise.Prenom)</th> 
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.NTelephone) </th>
                              <th class="signup">@Html.DisplayFor(m => Model.ContactComiteEntreprise.NTelephone)</th> 
                            </tr>
                            </table>

                        <h2> Vos Informations de Paiement </h2>
                        <h2 class="signup"> (Adresse de l'Entreprise) </h2>
                        <table width=100%>
                        <colgroup>
                            <col style="width: 25%" align="right">
                            <col style="width: 15%">
                            <col style="width: 5%">
                            <col style="width: 55%">
                        </colgroup>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.Numero)</th>
                            <th class="signup">@Html.DisplayFor(m => Model.Adresse.Numero)</th> 
                            <th>@Html.LabelFor(m => Model.Adresse.Voie)</th>
                            <th class="signup">@Html.DisplayFor(m => Model.Adresse.Voie)</th> 
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.CodePostal) </th>
                            <th class="signup">@Html.DisplayFor(m => Model.Adresse.CodePostal)</th> 
                            <th>@Html.LabelFor(m => Model.Adresse.Ville) </th>
                            <th class="signup">@Html.DisplayFor(m => Model.Adresse.Ville)</th> 
                        </tr>
                        </table>

                        <colgroup>
                            <col style="width: 10%" align="right">
                            <col style="width: 90%">
                        </colgroup>
                        <table width=100%>
                                    <tr align="center">                                       
                                     <th class="signup">Il vous reste qu'à payer notre frais d'inscription annuelle de 12€</th> 
                                     </tr>
                            <tr align="center">
                                <th>
                              <article>
                                <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-locale="auto"
                                    data-description="Abonnement Annuel"
                                    data-curreny="EUR"
                                    data-amount="@APayer"></script>
                                <script>
                                  $(function() {
                                  $(".stripe-button-el").replaceWith('<input type="submit" value="Payer">');
                                  });
                                </script>
                                </article>
                                </th>
                            </tr>
                            <tr align="center">
                              <th class="signup">Déjà un Compte ?<a asp-area="" asp-controller="Login" asp-action="Index"> Connectez-vous</a></th>
                            </tr>
                        </table>           
                    </form>

                     }                    
                }
                </div>
              <div class="imgBx"><img src="~/ImageArticle/mer.jpg"></div>  
            </div>
        </div>
    </section>
