@model Projet2.ViewModels.HomeViewModel

<section>
        <div class="container">
            <div  class="user signupBx">

                <div class="formBx">
                   
                    @using (Html.BeginForm())
                    {
                    
                        <h2>Créez un Identifiant </h2>
                        <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                             </colgroup>
                          <tr >
                              <th>@Html.LabelFor(m => Model.Identifiant.AdresseMail)</th>
                              <th>@Html.TextBoxFor(m => Model.Identifiant.AdresseMail, new {placeholder="vous@mail.com"})
                                  @Html.ValidationMessageFor(m => Model.Identifiant.AdresseMail) </th>
                          </tr>
                          <tr>
                              <th>@Html.LabelFor(m => Model.Identifiant.MotDePasse)</th>
                              <th>@Html.PasswordFor(m => Model.Identifiant.MotDePasse, new {placeholder="Mot de Passe"})
                                  @Html.ValidationMessageFor(m => Model.Identifiant.MotDePasse)</th>
                         </tr>
                        </table>

                        <h2> Ajoutez les Informations sur votre Entreprise</h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Entreprise.NomEntreprise)</th>
                              <th>@Html.TextBoxFor(m => Model.Entreprise.NomEntreprise,  new {placeholder="Nom de l'Entreprise'"})</th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Entreprise.NombreUtilisateur)</th>
                              <th>@Html.TextBoxFor(m => Model.Entreprise.NombreUtilisateur, new {placeholder="Nombre des collaborateurs bénéficiant de ce service"})</th>
                            </tr>
                            <tr>
                              <th> @Html.LabelFor(m => Model.Entreprise.Siren)</th>
                              <th>@Html.TextBoxFor(m => Model.Entreprise.Siren, new {placeholder="Numéro SIREN de 9 chiffres"})</th>
                            </tr>
                            </table>


                        <h2> Insérez vos Données </h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.Nom)</th>
                              <th>@Html.TextBoxFor(m => Model.ContactComiteEntreprise.Nom, new {placeholder="Nom de Famille"})</th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.Prenom)</th>
                              <th>@Html.TextBoxFor(m => Model.ContactComiteEntreprise.Prenom, new {placeholder="Prénom"})</th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.ContactComiteEntreprise.NTelephone)</th>
                              <th>@Html.TextBoxFor(m => Model.ContactComiteEntreprise.NTelephone, new { placeholder="Numéro Téléphone"})</th> @*, required = "required", pattern = @"\d{10}" *@
                              <th>@Html.ValidationMessageFor(m => Model.ContactComiteEntreprise.NTelephone, "", new { @class = "error" })</th>

                            </tr>
                            </table>

                        <h2> Remplissez les Informations de Paiement </h2>
                        <h2> (Adresse de l'Entreprise) </h2>
                        <table width=100%>
                        <colgroup>
                            <col style="width: 25%" align="right">
                            <col style="width: 15%">
                            <col style="width: 5%">
                            <col style="width: 55%">
                        </colgroup>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.Numero)</th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Numero)</th>
                            <th>@Html.LabelFor(m => Model.Adresse.Voie)</th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Voie)</th>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.CodePostal) </th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.CodePostal)</th>
                            <th>@Html.LabelFor(m => Model.Adresse.Ville) </th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Ville)</th>
                        </tr>
                        </table>
                         <table width=100%>
                            <colgroup>
                                <col style="width: 10%" align="right">
                                <col style="width: 90%">
                            </colgroup>
                                <tr align="justify">
                                <th >@Html.CheckBoxFor(m => Model.Entreprise.EstEnAccord)</th>
                                <th>@Html.LabelFor(m => Model.Entreprise.EstEnAccord)</th>
                            </tr>
                        </table>
                        <table width=100%>
                            <tr align="center">
                              <th><input type="submit" value="Créez votre Compte"/></th>
                            </tr>
                            <tr align="center">
                              <th class="signup">Déjà un Compte ?<a asp-area="" asp-controller="Login" asp-action="Index"> Connectez-vous</a></th>
                            </tr>
                        </table>           
                    }
                </div>
              <div class="imgBx"><img src="~/ImageArticle/mer.jpg"></div>  
            </div>
        </div>
    </section>
