@model Projet2.ViewModels.HomeViewModel

    <div>
        Bonjour @Model.ContactComiteEntreprise.Prenom 
        <br/>        
        <br/>
        Nombre de collaborateurs @Model.Entreprise.NomEntreprise inscrits au service: @Model.Entreprise.NombreUtilisateur
        <br/>
        <br/>
        @if(@Model.Entreprise.ListeContact.Count != 1){
            <div> 
            <p>Autres Collaborateurs ayant accés au compte de l'entreprise : </p>
            @foreach (var contactComiteEntreprise in @Model.Entreprise.ListeContact)
            {
                @if (@contactComiteEntreprise.Id != @Model.ContactComiteEntreprise.Id)
                {
                 <div>    
                 @contactComiteEntreprise.Nom
                 <br/>
                @contactComiteEntreprise.Prenom
                 <br/>
                @contactComiteEntreprise.NTelephone
                 <br/>
                @contactComiteEntreprise.AdresseMail
                 <br/>
                </div>
                }
            }  
           </div>
       }

        <br />
        <br />
        @Html.ActionLink("Voir l'historique de mes commandes en boutique", "HistoriqueCommandes", "CompteCE", @Model.ContactComiteEntreprise)
        <br />
        @Html.ActionLink("Voir mes commandes en cours", "Commandes", "CompteCE", @Model.ContactComiteEntreprise)
        <br />
        <br />
        @Html.ActionLink("Mes Producteurs Favoris", "ProducteursFavoris", "CompteCE", @Model.ContactComiteEntreprise)
        <br/>
        @Html.ActionLink("Mes Articles Favoris", "ArticlesFavoris", "CompteCE", @Model.ContactComiteEntreprise)
        <br/>
        @Html.ActionLink("Mes Ateliers Favoris", "AteliersFavoris", "CompteCE", @Model.ContactComiteEntreprise)
        <br/>
        <br/>
        @Html.ActionLink("Gérer mon Compte", "CECompteInfo", "CompteCE", @Model.ContactComiteEntreprise)
        <br/>
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
        <br/>
    </div>
