@model Projet2.ViewModels.HomeViewModel

<div class="container">
    <div class="main-body">



        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <h4> @Model.ContactComiteEntreprise.Prenom @Model.ContactComiteEntreprise.Nom </h4>
                                <p class="text-secondary mb-1">Comité Entreprise @Model.Entreprise.NomEntreprise </p>
                                <p class="text-muted font-size-sm">@Model.Adresse.Numero @Model.Adresse.Voie @Model.Adresse.Ville </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                Gérer le Compte
                            </h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                @Html.ActionLink("Modifier Compte", "ModificationCompte", "CompteCE", @Model.ContactComiteEntreprise)
                            </h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                @Html.ActionLink("Photo Profil", "AjouterImage", "CompteCE", @Model.ContactComiteEntreprise)
                            </h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
                            </h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <button class="modalButton" id="myBtn">Supprimer Compte</button>
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom Complet</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ContactComiteEntreprise.Prenom @Model.ContactComiteEntreprise.Nom
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ContactComiteEntreprise.AdresseMail
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telephone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ContactComiteEntreprise.NTelephone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Adresse.Numero @Model.Adresse.Voie @Model.Adresse.Ville
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Nombre de collaborateurs @Model.Entreprise.NomEntreprise inscrits au service: @Model.Entreprise.NombreUtilisateur</h6>                    
                                        @if (@Model.Entreprise.ListeContact.Count != 1)
                                        {
                                            <div>
                                                <p>Autres Collaborateurs ayant accés au compte de l'entreprise : </p>
                                                @foreach (var contactComiteEntreprise in @Model.Entreprise.ListeContact)
                                                {
                                                    @if (@contactComiteEntreprise.Id != @Model.ContactComiteEntreprise.Id)
                                                    {
                                                        <div>
                                                            @contactComiteEntreprise.Nom
                                                            <br />
                                                            @contactComiteEntreprise.Prenom
                                                            <br />
                                                            @contactComiteEntreprise.NTelephone
                                                            <br />
                                                            @contactComiteEntreprise.AdresseMail
                                                            <br />
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Mes Commandes</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            @Html.ActionLink("Voir l'historique de mes commandes en boutique", "HistoriqueCommandes", "CompteCE", @Model.ContactComiteEntreprise)
                                        </h6>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            @Html.ActionLink("Voir mes commandes en cours", "Commandes", "CompteCE", @Model.ContactComiteEntreprise)
                                        </h6>

                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

