@model Projet2.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modifier Compte</title>
</head>
<body>
       
    
<h1>Formulaire Modification Adhérent CE : </h1>

    @using (Html.BeginForm())
    {
<fieldset>
    <h2> Identifiant </h2>
        @Html.HiddenFor(m => Model.ContactComiteEntreprise.Id)
        @Html.HiddenFor(m => Model.Identifiant.EstCE)
        @Html.HiddenFor(m => Model.Entreprise.Id)
        @Html.HiddenFor(m => Model.Identifiant.Id)
        @Html.HiddenFor(m => Model.Adresse.Id)
    <br />
        @Html.LabelFor(m => Model.Identifiant.AdresseMail) :
        @Html.TextBoxFor(m => Model.Identifiant.AdresseMail)
        @Html.ValidationMessageFor(m => m.Identifiant.AdresseMail)
    <br />
        @Html.LabelFor(m => Model.Identifiant.MotDePasse) :
        @Html.PasswordFor(m => Model.Identifiant.MotDePasse, new {Value=@Model.Identifiant.MotDePasse})
        @Html.ValidationMessageFor(m => m.Identifiant.MotDePasse)
    <br />
    <h2> Vos Coordonnés </h2>
    <br />
        @Html.LabelFor(m => Model.ContactComiteEntreprise.Nom) :
        @Html.TextBoxFor(m => Model.ContactComiteEntreprise.Nom)
    <br />
        @Html.LabelFor(m => Model.ContactComiteEntreprise.Prenom) :
        @Html.TextBoxFor(m => Model.ContactComiteEntreprise.Prenom)
    <br />
        @Html.LabelFor(m => Model.ContactComiteEntreprise.NTelephone) :
        @Html.TextBoxFor(m => Model.ContactComiteEntreprise.NTelephone)
    <br />
    <br />
    <h2> Entreprise </h2>
    <br />
        @Html.LabelFor(m => Model.Entreprise.NomEntreprise) :
        @Html.TextBoxFor(m => Model.Entreprise.NomEntreprise)
    <br />
        @Html.LabelFor(m => Model.Entreprise.NombreUtilisateur) :
        @Html.TextBoxFor(m => Model.Entreprise.NombreUtilisateur)
    <br />
        @Html.LabelFor(m => Model.Entreprise.Siren) :
        @Html.TextBoxFor(m => Model.Entreprise.Siren)
    <br />
    <h2> Adresse</h2>
    <br />
        @Html.LabelFor(m => Model.Adresse.Numero) :
        @Html.TextBoxFor(m => Model.Adresse.Numero)
     <br />
        @Html.LabelFor(m => Model.Adresse.Voie) :
        @Html.TextBoxFor(m => Model.Adresse.Voie)
     <br />
        @Html.LabelFor(m => Model.Adresse.CodePostal) :
        @Html.TextBoxFor(m => Model.Adresse.CodePostal)   
     <br />
        @Html.LabelFor(m => Model.Adresse.Ville) :
        @Html.TextBoxFor(m => Model.Adresse.Ville)
     <br />
        @Html.LabelFor(m => Model.Adresse.Pays) :
        @Html.TextBoxFor(m => Model.Adresse.Pays)
     <br />
        @* Paiement en :
        @Html.DropDownList("paiementchoisi", new SelectList(ViewBag.listePayments,"Id", "methodePaiement")) *@
</fieldset>
     <br />
        <input type="submit" value="Modification"/>
    }
    <br /><br />  
    <div>
    @Html.ActionLink("Retour sur le Compte", "Index", "CompteCE", @Model.ContactComiteEntreprise)
    </div>


</body>
</html>

