@model Projet2.ViewModels.HomeViewModel

    <div class = "container">
        Mon Compte : 
        <br/>
        @Model.AdP.NomProducteur
        <br/>
        Description : @Model.AdP.Description
        <br/>
        Numéro SIREN : @Model.AdP.Siren
        <br/>
        <br/>
        Nom : @Model.Personne.Nom
        <br/>
        Prenom: @Model.Personne.Prenom
        <br/>
        Date de Naissance : @Model.ReturnDateForDisplay
        <br/>
        Numéro Téléphone : @Model.Personne.NTelephone
        <br/>
        <br/>

        Adresse : 
        <br/>
        @Model.Adresse.Numero @Model.Adresse.Voie
        <br/>
        @Model.Adresse.CodePostal @Model.Adresse.Ville
        <br />
        <br />

        <br/>
        @Html.ActionLink("Modifier Compte", "ModificationCompte", "CompteAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Supprimer Compte", "SuppressionCompte", "CompteAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
        <br/>
        @Html.ActionLink("Retour", "Index", "CompteAdP", @Model.AdP)
    </div>

