@model Projet2.ViewModels.HomeViewModel

    <div class="container">
        <img src="~/ImageProfils/@Model.AdP.Image" width="80" height="80">
        Bonjour @Model.Personne.Prenom        
        <br />
        <br />

        @if (!@Model.AdP.EstActive && !@Model.AdP.EstEnAttente)
        {
        <h2>Votre Compte est en attente de validation</h2>
        <p>Vous pouvez ajouter des articles, paniers et ateliers dès sa validation.</p>
        }

        @if (!@Model.AdP.EstActive && @Model.AdP.EstEnAttente)
        {
        <h2>Votre Compte a été rejeté</h2>
        @if(@Model.AdP.AdminCommentaire != null)
        {
           <p>Vous avez recu une demande de modification : @Model.AdP.AdminCommentaire</p>
           <p>Cliquez ici pour modifier votre compte : @Html.ActionLink("Modifier Compte", "ModificationCompte", "CompteAdP", @Model.AdP)</p>
        }
        @if (@Model.AdP.AdminCommentaire == null)
        {
            <p>Votre compte va être supprimer dans 10 jours. N'hésitez pas à nous contacter.</p>
        }
        }

        @if (@Model.AdP.EstActive)
        {
        <br/>
         @Html.ActionLink("Commandes A Preparer", "CommandesAPreparer", "EspaceAdP", @Model.AdP)
        <br/>
        <p>Gestion de la Boutique</p>
        @Html.ActionLink("Ajouter un Article dans la boutique", "AjouterArticle", "Boutique", @Model.AdP.Id)
        <br/>
        @Html.ActionLink("Gerer mes Articles en Boutique", "GestionBoutique", "EspaceAdP", @Model.AdP)       
        <br/>
        @Html.ActionLink("Historique des Commandes en Boutique", "HistoriqueBoutique", "EspaceAdP", @Model.AdP)
        <br/>
        <br />
        <br />
        <p>Gestion des Paniers Saissoniers</p>
        <br />
        @Html.ActionLink("Ajouter un Panier Saissonier", "AjouterPanier", "Panier", @Model.AdP)
        <br/>
        @Html.ActionLink("Gerer mes Paniers", "GestionPanier", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Historique des Commandes Panier", "HistoriquePaniers", "EspaceAdP", @Model.AdP)
        <br/>
        <br />
        <br />
        <p>Gestion des Ateliers</p>
        <br />
        <p>Bientôt vous allez pouvoir proposer des ateliers !</p>
        @*
        @Html.ActionLink("Creer un Atelier", "???", "???Atelier", @Model.AdP)
        <br/>
        @Html.ActionLink("Gerer mes Ateliers", "GestionAtelier", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Ateliers A Venir", "AteliersAVenir", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Historique des Ateliers", "HistoriqueAteliers", "EspaceAdP", @Model.AdP)
        <br/>  
        *@
        }
       
        <br/>
        @Html.ActionLink("Gerer Mon Compte", "AdPCompteInfo", "CompteAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Photo Profil", "AjouterImage", "CompteAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
        <br/>
    </div>