@model Projet2.ViewModels.HomeViewModel

    <div>
        <img src="~/ImageProfils/@Model.AdP.Image" width="80" height="80">
        Bonjour @Model.Personne.Prenom        
        <br />
        <br />
        Gestion de la Boutique
        <br />
        @*AJOUTER UN ARTICLE DOIT SAUVEGARDER LE PRODUCTEUR QUI EN AJOUTE*@
        @Html.ActionLink("Ajouter un Article dans la boutique", "AjouterArticle", "Boutique", @Model.AdP.Id)
        <br/>
        @Html.ActionLink("Gerer mes Articles en Boutique", "GestionBoutique", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Commandes A Preparer", "CommandesAPreparer", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Historique des Commandes en Boutique", "HistoriqueBoutique", "EspaceAdP", @Model.AdP)
        <br/>
        <br />
        <br />
        Gestion des Paniers Saissoniers
        <br />
        @Html.ActionLink("Ajouter un Panier Saissonier", "AjouterPanier", "Panier", @Model.AdP)
        <br/>
        @Html.ActionLink("Gerer mes Paniers", "GestionPanier", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Commandes Panier A Preparer", "PaniersAPreparer", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Historique des Commandes Panier", "HistoriquePaniers", "EspaceAdP", @Model.AdP)
        <br/>
        <br />
        <br />
        Gestion des Ateliers
        <br />
        @Html.ActionLink("Creer un Atelier", "???", "???Atelier", @Model.AdP)
        <br/>
        @Html.ActionLink("Gerer mes Ateliers", "GestionAtelier", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Ateliers A Venir", "AteliersAVenir", "EspaceAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Historique des Ateliers", "HistoriqueAteliers", "EspaceAdP", @Model.AdP)
        <br/> 
        <br/>
        @Html.ActionLink("Gerer Mon Compte", "AdPCompteInfo", "CompteAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Photo Profil", "AjouterImage", "CompteAdP", @Model.AdP)
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
        <br/>
        @Html.ActionLink("Retour sur la page principale", "Index", "Home")
    </div>