@model Projet2.ViewModels.HomeViewModel

@{
    
}

<div class="container">
    <h1>Modifier Mon Compte</h1>

    @using (Html.BeginForm())
    {
        <fieldset>
            <h2> Identifiant </h2>
            @Html.HiddenFor(m => Model.AdP.Id)
            @Html.HiddenFor(m => Model.AdP.EstActive)
            @Html.HiddenFor(m => Model.AdP.EstEnAttente)
            @Html.HiddenFor(m => Model.AdP.PersonneId)
            @Html.HiddenFor(m => Model.Identifiant.EstAdP)
            @Html.HiddenFor(m => Model.Personne.Id)
            @Html.HiddenFor(m => Model.Personne.IdentifiantId)
            @Html.HiddenFor(m => Model.Identifiant.Id)
            @Html.HiddenFor(m => Model.Adresse.Id)
            <br />
            @Model.Identifiant.AdresseMail
            <br />
            @Html.ActionLink("Modifier mon Identifiant", "ModificationIdentifiant", "Login", @Model.Identifiant, @Model.AdP.Id)
            <br />
            <h2>  Mes Données sur la Production </h2>
            <br />
            @Html.LabelFor(m => Model.AdP.NomProducteur) :
            @Html.TextBoxFor(m => Model.AdP.NomProducteur)
            <br />
            @Html.LabelFor(m => Model.AdP.Description) :
            @Html.TextBoxFor(m => Model.AdP.Description)
            <br />
            @Html.LabelFor(m => Model.AdP.Siren) :
            @Html.TextBoxFor(m => Model.AdP.Siren)
            <br />
            <h2> Mes Données personnelles </h2>
            <br />
            @Html.LabelFor(m => Model.Personne.Nom) :
            @Html.TextBoxFor(m => Model.Personne.Nom)
            <br />
            @Html.LabelFor(m => Model.Personne.Prenom) :
            @Html.TextBoxFor(m => Model.Personne.Prenom)
            <br />
            @Html.LabelFor(m => Model.Personne.DateNaissance) :
            @Html.TextBoxFor(m => Model.Personne.DateNaissance, "{0:yyyy-MM-dd}", new { @type = "date" })
            <br />
            @Html.LabelFor(m => Model.Personne.NTelephone) :
            @Html.TextBoxFor(m => Model.Personne.NTelephone)
            <br />
            @Html.LabelFor(m => Model.Adresse.Numero) :
            @Html.TextBoxFor(m => Model.Adresse.Numero)
            <br />
            @Html.LabelFor(m => Model.Adresse.Voie) :
            @Html.TextBoxFor(m => Model.Adresse.Voie)
            <br />
            @Html.LabelFor(m => Model.Adresse.CodePostal) :
            @Html.TextBoxFor(m => Model.Adresse.CodePostal)
            <br />
            @Html.LabelFor(m => Model.Adresse.Ville) :
            @Html.TextBoxFor(m => Model.Adresse.Ville)
            <br />
        </fieldset>
        <br />
        <input type="submit" value="Modification" />
    }

    <br /><br />
    <div>
        @Html.ActionLink("Retour sur le Compte", "Index", "CompteAdP", @Model.AdP)
    </div>
    </div>
