@model Projet2.ViewModels.HomeViewModel

@{
    
}

<h1>Formulaire Modification Adhérent Producteur : </h1>

    @using (Html.BeginForm())
    {
<fieldset>
    <h2> Identifiant </h2>
        @Html.HiddenFor(m => Model.AdP.Id)
        @Html.HiddenFor(m => Model.Identifiant.EstAdP)
        @Html.HiddenFor(m => Model.Personne.Id)
        @Html.HiddenFor(m => Model.Identifiant.Id)
        @Html.HiddenFor(m => Model.Adresse.Id)
    <br />
        @Html.LabelFor(m => Model.Identifiant.AdresseMail) :
        @Html.TextBoxFor(m => Model.Identifiant.AdresseMail)
        @Html.ValidationMessageFor(m => m.Identifiant.AdresseMail)
    <br />
        @Html.LabelFor(m => Model.Identifiant.MotDePasse) :
        @Html.PasswordFor(m => Model.Identifiant.MotDePasse, new {Value=@Model.Identifiant.MotDePasse})
        @Html.ValidationMessageFor(m => m.Identifiant.MotDePasse)
    <br />
    <h2> Production </h2>
    <br />
        @Html.LabelFor(m => Model.AdP.NomProducteur) :
        @Html.TextBoxFor(m => Model.AdP.NomProducteur)
    <br />
        @Html.LabelFor(m => Model.AdP.Description) :
        @Html.TextBoxFor(m => Model.AdP.Description)
    <br />
        @Html.LabelFor(m => Model.AdP.Siren) :
        @Html.TextBoxFor(m => Model.AdP.Siren)
    <br />
    <h2> Personne </h2>
    <br />
        @Html.LabelFor(m => Model.Personne.Nom) :
        @Html.TextBoxFor(m => Model.Personne.Nom)
    <br />
        @Html.LabelFor(m => Model.Personne.Prenom) :
        @Html.TextBoxFor(m => Model.Personne.Prenom)
    <br />
        @Html.LabelFor(m => Model.Personne.DateNaissance) :
        @Html.TextBoxFor(m => Model.Personne.DateNaissance, "{0:yyyy-MM-dd}", new { @type = "date"})
    <br />
        @Html.LabelFor(m => Model.Personne.NTelephone) :
        @Html.TextBoxFor(m => Model.Personne.NTelephone)
    <br />
        @Html.LabelFor(m => Model.Adresse.Numero) :
        @Html.TextBoxFor(m => Model.Adresse.Numero)
     <br />
        @Html.LabelFor(m => Model.Adresse.Voie) :
        @Html.TextBoxFor(m => Model.Adresse.Voie)
     <br />
        @Html.LabelFor(m => Model.Adresse.CodePostal) :
        @Html.TextBoxFor(m => Model.Adresse.CodePostal)   
     <br />
        @Html.LabelFor(m => Model.Adresse.Ville) :
        @Html.TextBoxFor(m => Model.Adresse.Ville)
     <br />
        @Html.LabelFor(m => Model.Adresse.Pays) :
        @Html.TextBoxFor(m => Model.Adresse.Pays)
     <br />
     
        @* Paiement en :
        @Html.DropDownList("paiementchoisi", new SelectList(ViewBag.listePayments,"Id", "methodePaiement")) *@
</fieldset>
     <br />
        <input type="submit" value="Modification" />
    }

    <br /><br />  
    <div>
    @Html.ActionLink("Retour sur le Compte", "Index", "CompteAda", @Model.AdP)
    </div>