@model Projet2.ViewModels.HomeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-xl-9">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5 text-center">
                        <div>
                            <div id="content">
                                <div class="notify successbox">
                                    <h1>Commande Finalisée</h1><br />
                                    <span class="alerticon"><img src="https://i0.wp.com/objectifalpinisme.com/wp-content/uploads/2021/02/pngegg.png?w=750&ssl=1" alt="checkmark" style=" max-height: 50px" /></span><br />
                                </div>

                                <div id="Box">
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            N° de Commande :
                                        </div>

                                        <div class="col-6">
                                            @Model.Commande.Id
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Montant de la Transaction :
                                        </div>

                                        <div class="col-6">
                                            € @Decimal.Round(Model.PanierBoutique.Total, 2)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Date de commande :
                                        </div>

                                        <div class="col-6">
                                            @Model.Commande.DateCommande
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Date de Livraison :
                                        </div>

                                        <div class="col-6">
                                            @Model.Commande.DateLivraison
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Lieu de Livraison:
                                        </div>

                                        <div class="col-6">
                                            La manufacture des tabacs à 18h
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">

                                        <div class="col-6">
                                            Etat de la commande :
                                        </div>

                                        <div class="col-6">
                                            @Model.Commande.EtatCommande;
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
