@model Projet2.ViewModels.HomeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Remplissez vos informations personnelles </h1>
@using (Html.BeginForm())
{
<fieldset>
    <h2> Personne </h2>
    <br />
    @Html.LabelFor(m => Model.Client.Nom) :
    @Html.TextBoxFor(m => Model.Client.Nom)
    <br />
    @Html.LabelFor(m => Model.Client.Prenom) :
    @Html.TextBoxFor(m => Model.Client.Prenom)
    <br />
    @Html.LabelFor(m => Model.Client.DateNaissance) :
    @Html.TextBoxFor(m => Model.Client.DateNaissance, "{0:yyyy-MM-dd}", new { @type = "date" })
    <br />
    @Html.LabelFor(m => Model.Client.NTelephone) :
    @Html.TextBoxFor(m => Model.Client.NTelephone)
    <br />
    @Html.LabelFor(m => Model.Adresse.Numero) :
    @Html.TextBoxFor(m => Model.Adresse.Numero)
    <br />
    @Html.LabelFor(m => Model.Adresse.Voie) :
    @Html.TextBoxFor(m => Model.Adresse.Voie)
    <br />
    @Html.LabelFor(m => Model.Adresse.CodePostal) :
    @Html.TextBoxFor(m => Model.Adresse.CodePostal)
    <br />
    @Html.LabelFor(m => Model.Adresse.Ville) :
    @Html.TextBoxFor(m => Model.Adresse.Ville)
    <br />
    @Html.LabelFor(m => Model.Client.EstEnAccord) :
    @Html.CheckBoxFor(m => Model.Client.EstEnAccord)
</fieldset>
    <br />
    <input type="submit" value="Continuer vers le paiement" />
}
<br />
<br />
    @Html.ActionLink("J'ai déjà un compte", "Index", "Login")
<br />
<br />

<div>
    @Html.ActionLink("Continuer vers le Paiement", "Paiement", "Home")
</div>