@model Projet2.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creation Compte</title>
</head>
<body>
       
    
<h1>Formulaire Creation Adhérent Acheteur : </h1>

    @using (Html.BeginForm())
    {
<fieldset>
    <h2> Identifiant </h2>
    <br />
        @Html.LabelFor(m => Model.Identifiant.AdresseMail) :
        @Html.TextBoxFor(m => Model.Identifiant.AdresseMail)
        @Html.ValidationMessageFor(m => m.Identifiant.AdresseMail)
    <br />
        @Html.LabelFor(m => Model.Identifiant.MotDePasse, new { style="color:black", @class="ma-css"}) :
        @Html.PasswordFor(m => Model.Identifiant.MotDePasse, new { style="color:black", @class="ma-css"})
        @Html.ValidationMessageFor(m => m.Identifiant.MotDePasse)
    <br />
    <h2> Personne </h2>
    <br />
        @Html.LabelFor(m => Model.Personne.Nom) :
        @Html.TextBoxFor(m => Model.Personne.Nom)
    <br />
        @Html.LabelFor(m => Model.Personne.Prenom) :
        @Html.TextBoxFor(m => Model.Personne.Prenom)
    <br />
        @Html.LabelFor(m => Model.Personne.DateNaissance) :
        @Html.TextBoxFor(m => Model.Personne.DateNaissance, "{0:yyyy-MM-dd}", new { @type = "date"})
    <br />
        @Html.LabelFor(m => Model.Personne.NTelephone) :
        @Html.TextBoxFor(m => Model.Personne.NTelephone)
    <br />
        @Html.LabelFor(m => Model.Adresse.Numero) :
        @Html.TextBoxFor(m => Model.Adresse.Numero)
     <br />
        @Html.LabelFor(m => Model.Adresse.Voie) :
        @Html.TextBoxFor(m => Model.Adresse.Voie)
     <br />
        @Html.LabelFor(m => Model.Adresse.CodePostal) :
        @Html.TextBoxFor(m => Model.Adresse.CodePostal)   
     <br />
        @Html.LabelFor(m => Model.Adresse.Ville) :
        @Html.TextBoxFor(m => Model.Adresse.Ville)
     <br />
        @Html.LabelFor(m => Model.Adresse.Pays) :
        @Html.TextBoxFor(m => Model.Adresse.Pays)
     <br />
        @* Paiement en :
        @Html.DropDownList("paiementchoisi", new SelectList(ViewBag.listePayments,"Id", "methodePaiement")) *@
     <br />
        @Html.LabelFor(m => Model.Personne.EstEnAccord) : 
        @Html.CheckBoxFor(m => Model.Personne.EstEnAccord)
</fieldset>
     <br />
        <input type="submit" value="Créer"/>
    }
    <br /><br />  
    <div>
    @Html.ActionLink("Retour sur la page principale", "Index", "Home")
    </div>


</body>
</html>

