@model Projet2.ViewModels.HomeViewModel
 
<div class="shadow-sm p-2 mb-5 welcome">
    <h2>Mes Commandes En Boutique</h2>
</div>

<!-- Products -->
<div class="container">    
    <div class="row">
        <div class="col-md-2 menu-rigth">
            <p>@Html.ActionLink("Retour", "Index", "CompteAdA", @Model.AdA)</p>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-4 g-5">
                @Html.HiddenFor(m => @Model.AdA.Id)  
                @foreach (var commande in @Model.AdA.CommandesBoutiqueEffectues)
                {
                    @if(commande.EstLivre == true)
                    {
                    var Total = Decimal.Round(commande.PanierBoutique.Total, 2);                   
                        <div class="row ">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Boutique</h5>
                                    <p class="card-text">@commande.ReturnDateCommandeForDisplayCommande</p>
                                    <p class="card-text">N° @commande.ReturnNumeroCommandeForDisplay</p>
                                    <p class="card-text">@Total €</p>
                                    <div class="row ">
                                    @foreach(var lignePanierBoutique in @commande.PanierBoutique.LignePanierBoutiques)
                                    {
                                        var SousTotal = Decimal.Round(lignePanierBoutique.SousTotal, 2);
                                         <div class="card h-100">
                                             <div class="card-body">
                                            <div class="row ">
                                                @{
                                                String filepath = "~/ImageArticle/" + @lignePanierBoutique.Article.Image;
                                                }
                                                <img src="~/ImageArticle/@lignePanierBoutique.Article.Image" class="card-img-top" alt="..." />
                                             </div>  
                                             <div class="row " border-bottom="1px solid">
                                                    <p class="card-text">@lignePanierBoutique.Article.Nom</p>
                                                    <p class="card-text">Quantité : @lignePanierBoutique.Quantite</p>
                                                    <p class="card-text">@SousTotal €</p>
                                                    @if(@lignePanierBoutique.AvisId == null)
                                                    {
                                                    <p align="center">@Html.ActionLink("Donner votre avis", "ArticleAvis", "Boutique", @lignePanierBoutique)</p>
                                                    }
                                                    @if(@lignePanierBoutique.AvisId != null)
                                                    {
                                                    <p class="card-text">Votre Avis : @lignePanierBoutique.Avis.Text</p>
                                                    <p class="card-text">Votre Note : @lignePanierBoutique.Avis.Note </p>                                                    
                                                    }
                                                    <br/><br/>
                                               </div>       
                                            </div>        
                                                   </div>                           
                                    }
                                    </div>   
                                    </div> 
                                    </div>
                                    
                                </div>                       
                    }
                }
                 @foreach (var commandePanier in @Model.AdA.CommandesPanierEffectues)
                {
                    @if(commandePanier.EstLivre == true)
                    {
                    var Total = Decimal.Round(commandePanier.PanierSaisonnier.Prix, 2);                   
                        <div class="row ">
                                
                                    
                                    <div class="row ">
                                    
                                            <div class="card h-100">
                                                <div class="card-body">
                                                <div class="row ">
                                                @{
                                                String filepath = "~/ImageArticle/" + @commandePanier.PanierSaisonnier.Image;
                                                }
                                                <img src="~/ImageArticle/@commandePanier.PanierSaisonnier.Image" class="card-img-top" alt="..." />
                                                </div>
                                                    
                                                    <h5 class="card-title">Panier</h5>
                                                    <p class="card-text">N° @commandePanier.ReturnNumeroCommandeForDisplay</p>
                                                    <p class="card-text">@commandePanier.ReturnDateCommandeForDisplayCommande</p>                                                    
                                                    <p class="card-text">@commandePanier.PanierSaisonnier.NomPanier</p>
                                                    <p class="card-text">@Total €</p>
                                                    @if(@commandePanier.LignePanierSaisonnier.AvisId == null)
                                                    {
                                                    @Html.ActionLink("Donner votre avis", "PanierAvis", "Panier", @commandePanier.LignePanierSaisonnier)
                                                    }
                                                    @if(@commandePanier.LignePanierSaisonnier.AvisId != null)
                                                    {
                                                    <p class="card-text">Votre Avis : @commandePanier.LignePanierSaisonnier.Avis.Text </p>
                                                    <p class="card-text">Votre Note : @commandePanier.LignePanierSaisonnier.Avis.Note </p>
                                                    }
                                                    </div>
                                            </div>
                                    
                                    
                                    </div>
                                                     
                        </div>
                    }
                }
            </div>
        </div>
    </div>   
</div>
