@model Projet2.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mon Compte</title>
</head>
<body>
    <div>
        Bonjour @Model.Personne.Prenom 

        Mon Compte : 
        <br/>
        Nom : @Model.Personne.Nom
        <br/>
        Prenom: @Model.Personne.Prenom
        <br/>
        @*Date de Naissance : @Model.ReturnDateForDisplay*@
        <br/>
        Numéro Téléphone : @Model.Personne.NTelephone
        <br/>
        <br/>

        Adresse : 
        <br/>
        @Model.Adresse.Numero @Model.Adresse.Voie
        <br/>
        @Model.Adresse.CodePostal @Model.Adresse.Ville
        <br/>
        @Model.Adresse.Pays

        <br />
        <br />
        @Html.ActionLink("Mes Producteurs Favoris", "ProducteursFavoris", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Mes Articles Favoris", "ArticlesFavoris", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Mes Ateliers Favoris", "AteliersFavoris", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Modifier Compte", "ModificationCompte", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Supprimer Compte", "SuppressionCompte", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
    </div>


</body>
</html>