@model Projet2.ViewModels.HomeViewModel

<div class="container">
    <div class="main-body" style="margin-top: 80px;">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card" style="height: 300px;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="~/ImageProfils/@Model.AdA.Image" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.Personne.Nom @Model.Personne.Prenom</h4>
                                <p class="text-secondary mb-1">Adhérent</p>
                                <p class="text-muted font-size-sm">@Model.Adresse.Numero @Model.Adresse.Voie @Model.Adresse.Ville </p>
 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" style="height: 200px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                Gérer le Compte
                            </h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                @Html.ActionLink("Modifier Compte", "ModificationCompte", "CompteAdA", @Model.AdA)
                            </h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                @Html.ActionLink("Photo Profil", "AjouterImage", "CompteAdA", @Model.AdA)
                            </h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
                            </h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <button class="modalButton" id="myBtn">Supprimer Compte</button>
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3" style="height: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nom Complet</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Personne.Nom @Model.Personne.Prenom
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Identifiant.AdresseMail
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telephone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Personne.NTelephone
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Adresse</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Adresse.Numero @Model.Adresse.Voie @Model.Adresse.Ville
                                </div>
                            </div>
                        </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3" style="height: 200px;">
                        <div class="card h-100" >
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Mes activités</h6>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3" style="height: 200px;">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Mes Commandes Boutique</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            @Html.ActionLink("Voir mes commandes en cours", "Commandes", "CompteAdA", @Model.AdA)
                                        </h6>

                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            @Html.ActionLink("Voir l'historique de mes commandes", "HistoriqueCommandes", "CompteAdA", @Model.AdA)
                                        </h6>
                                    </li>
                                   
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p align="center">We are sad to see you go. Are you sure you want to delete your account ?</p>
                    <form align="center" method="post" asp-controller="CompteAdA" asp-action="SuppressionCompte" class="form-container">
                    @Html.HiddenFor(m => Model.AdA.Id)
                        <button class="modalButton" type="submit">Je supprime mon compte</button>
                    </form>
                </div>
                </div>

        </div>
    </div>
</div>

