@model Projet2.ViewModels.HomeViewModel
@{
 
}

    <div class = "container">
        Bonjour @Model.Personne.Prenom 

        <br />
        @Html.ActionLink("Voir l'historique de mes commandes en boutique", "HistoriqueCommandes", "CompteAdA", @Model.AdA)
        <br />
        @Html.ActionLink("Voir mes commandes en cours", "Commandes", "CompteAdA", @Model.AdA)
        <br />
        <br />
        @Html.ActionLink("Mes Producteurs Favoris", "ProducteursFavoris", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Mes Articles Favoris", "ArticlesFavoris", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Mes Ateliers Favoris", "AteliersFavoris", "CompteAdA", @Model.AdA)
        <br/>
        <br/>
        @Html.ActionLink("Gerer Mon Compte", "AdACompteInfo", "CompteAdA", @Model.AdA)
        <br/>
        @Html.ActionLink("Déconnexion", "Deconnexion", "Login")
        <br/>
        @Html.ActionLink("Retour sur la page principale", "Index", "Home")
    </div>
