@model Projet2.ViewModels.HomeViewModel


<section class="signupLayout">
        <div class="container">               
            <div class="user signupBx"> 
                <div class="formBx">
                        <form asp-action="ModificationCompte" asp-controller="CompteAdA" method="post"> 
                        @Html.HiddenFor(m => Model.AdA.Id)
                        @Html.HiddenFor(m => Model.Personne.Id)
                        @Html.HiddenFor(m => Model.Identifiant.Id)
                        @Html.HiddenFor(m => Model.Identifiant.EstAdA)
                        @Html.HiddenFor(m => Model.Adresse.Id)

                        <h2>Votre Identifiant </h2>
                        <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                             </colgroup>

                        </table>

                        <h2> Vos Données </h2>
                          <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Personne.Nom)</th>
                              <th>@Html.TextBoxFor(m => Model.Personne.Nom, new {placeholder="Nom de Famille"})
                              @Html.ValidationMessageFor(m => Model.Personne.Nom, "", new { @class = "text-danger" })
                              </th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Personne.Prenom) </th>
                              <th>@Html.TextBoxFor(m => Model.Personne.Prenom, new {placeholder="Prénom"})
                               @Html.ValidationMessageFor(m => Model.Personne.Prenom, "", new { @class = "text-danger" })
                              </th>
                            </tr>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Personne.NTelephone) </th>
                              <th>@Html.TextBoxFor(m => Model.Personne.NTelephone, new {placeholder="Numéro Téléphone"})
                              @Html.ValidationMessageFor(m => Model.Personne.NTelephone, "", new { @class = "text-danger" })
                              </th>
                            </tr>
                            </table>

                        <h2> Vos Informations de Paiement </h2>
                        <table width=100%>
                            <colgroup>
                                <col style="width: 25%" align="right">
                                <col style="width: 75%">
                            </colgroup>
                            <tr>
                              <th>@Html.LabelFor(m => Model.Personne.DateNaissance)</th>
                              <th>@Html.TextBoxFor(m => Model.Personne.DateNaissance, "{0:yyyy-MM-dd}", new { @type = "date"})
                                     @if(@Model!= null)
                                        {
                                            @if(@Model.Personne.EstMajeur == false)
                                            {
                                            <br/><p class="text-danger">"Vous ne pouvez pas créer un compte AMAPorte si vous n'êtes pas majeur."</p><br/>
                                            }
                                        }
                              </th>
                            </tr>
                           </table>
                        <table width=100%>
                        <colgroup>
                            <col style="width: 25%" align="right">
                            <col style="width: 15%">
                            <col style="width: 5%">
                            <col style="width: 55%">
                        </colgroup>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.Numero)</th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Numero)
                            @Html.ValidationMessageFor(m => Model.Adresse.Numero, "", new { @class = "text-danger" })
                            </th>
                            <th>@Html.LabelFor(m => Model.Adresse.Voie)</th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Voie)
                            @Html.ValidationMessageFor(m => Model.Adresse.Voie, "", new { @class = "text-danger" })
                            </th>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => Model.Adresse.CodePostal) </th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.CodePostal)
                            @Html.ValidationMessageFor(m => Model.Adresse.CodePostal, "", new { @class = "text-danger" })
                            </th>
                            <th>@Html.LabelFor(m => Model.Adresse.Ville) </th>
                            <th>@Html.TextBoxFor(m => Model.Adresse.Ville)
                            @Html.ValidationMessageFor(m => Model.Adresse.Ville, "", new { @class = "text-danger" })
                            </th>
                        </tr>
                        </table>                    
                         <table width=100%>
                            <tr align="center">
                               <th>
                                <input type="submit" value="Modifiez votre Compte">                              
                              </th>                              
                            </tr>
                            <tr align="center">
                              <th class="signup"><a asp-area="" asp-controller="CompteAdA" asp-action="Index"> Retour sur Mon Compte</a></th>
                            </tr>
                        </table>
                        </form>
                </div>
              <div class="imgBx"><img src="~/ImageArticle/mer.jpg"></div>  
            </div>
            </div>
        
    </section>