@model Projet2.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<!--<div class="item-active" style="background-image: url('./Images/fond.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    -->



<div class="container-fluid mt-5">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width:fit-content">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner shadow-lg bg-body ">

            <div class="carousel-item active z-depth-4 flex-center" style="height: 200px">
                <img src="./Images/mer.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des produits de la mer</h5>
                    <p>Au plus proche de la production aquacole.</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 200px">
                <img src="./Images/pommes.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Des produits maraichers</h5>
                    <p>Issus de la production locale</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 200px">
                <img src="./Images/onion.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Troisième label</h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container">

    <div class="text-center shadow-lg p-3 mb-5 bg-body rounded">
        <h1 class="display-4">Bienvenue sur AMAPorte</h1>
        <p>Pour un commerce biologique accessible</p>
    </div>

</div>

<div class="container-fluid valeurs">

    <section class="light">
        <div class="container py-3">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Nos valeurs</div>
            <section id="gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Equité & Transparence </h5>
                                    <p class="card-text">Un partenariat équitable entre producteurs et consommateurs basé sur la confiance. La transparence dans les actes d’achat, de production, de transformation et de vente des produits agricoles</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Proximité</h5>
                                    <p class="card-text">Un commerce de proximité en vente directe, à travers la relocalisation de l’économie par un soutien à l’agriculture paysanne, la relation directe entre les producteurs et les consommateurs, circuits courts. La traçabilité des aliments et la réduction des transports</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Solidarité & Convivialité</h5>
                                    <p class="card-text">Solidarité économique et financière avec les producteurs, solidarité entre consommateurs.convivialité dans les échanges, au travers des liens directs entre producteurs et consommateurs, l’implication dans le fonctionnement d’AMAPorte, la participation à nos différentes activités</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Transparence</h5>
                                    <p class="card-text">La transparence dans les actes d’achat, de production, de transformation et de vente des produits agricoles</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Solidarité</h5>
                                    <p class="card-text">Solidarité économique et financière avec les producteurs, solidarité entre consommateurs</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Convivialité </h5>
                                    <p class="card-text">convivialité dans les échanges, au travers des liens directs entre producteurs et consommateurs, l’implication dans le fonctionnement d’AMAPorte, la participation à nos différentes activités</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Qualité et Ecologie</h5>
                                    <p class="card-text">Une agriculture paysanne, socialement équitable et écologiquement saine : pas de pesticides ni engrais chimiques de synthèse</p>
                                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </section>
        </div>
        </section>

        </div>



        <div class=" container-fluid">
            <section class="light">
                <div class="container py-3">
                    <div class="h1 text-center text-dark" id="pageHeaderTitle">Nos producteurs en vedette</div>

                    @*<div class="containers d-flex align-items-center justify-content-center flex-wrap">*@
                    @*<div class="row row-cols-sm-1 row-cols-md-2 row-cols-xl-4 g-5">*@

                    @foreach (Projet2.Models.Compte.AdP adp in Model.ListeComptesAdP)
                    {

                        @*<div class="box">
                        <div class="body">
                            <div class="imgContainer"> <img src="~/Images/Thierry.png" /></div>
                            <div class="content d-flex flex-column align-items-center justify-content-center">
                                <div>
                                    <h3 class="text-white fs-5">@adp.NomProducteur</h3>
                                    <p class="fs-6 text-white">@adp.Description</p>
                                    <a type="button" href="#">Lien vers la page de Thierry</a>

                                </div>
                            </div>
                        </div>
                    </div>*@

                        <article class="postcard light green">
                            <a class="postcard__img_link" href="#">
                                @*<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />*@ 
                                <img class="postcard__img" src="@adp.Image"alt="Image AdP" />
                            </a>
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title green"><a href="#">@adp.NomProducteur</a></h1>
                                <div class="postcard__subtitle small">
                                    <time datetime="2020-05-25 12:00:00">
                                        <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                                    </time>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">@adp.Description</div>
                                <ul class="postcard__tagbox">
                                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                                    <li class="tag__item play green">
                                        <a href="#"><i class="fas fa-play mr-2"></i>Lien vers la page de @adp.NomProducteur </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    }
                    @*</div>*@
                </div>
                </section>
        </div>

        <div class=" container-fluid">
            <section class="light">
                <div class="container py-3">
                    <div class="h1 text-center text-dark" id="pageHeaderTitle">Rejoignez nous</div>
                    <p>Vous desirez vivre cette belle aventure avec nous?</p>
                    <p>N'hesitez plus!'</p>
                    <a asp-controller="Login" asp-action="Index">Rejoindre</a>
                    </div>
            </section>
        </div>

        <div class=" container-fluid">
            <section class="light">
                <div class="container py-3">
                    <div class="h1 text-center text-dark" id="pageHeaderTitle">Boutique</div>
 
                        <p> Des poduits de qualités, finement selectionées par nos soins pour votre plus grand plaisir</p>
                        <a asp-controller="Boutique" asp-action="AfficherBoutique">Découvrir</a>
                    </div>
                    </section>
            </div>

          
                @*<div class="container-cardscontainer">
                    <div class="container-cardcontainer">
                        <div class="card">
                            <div class="contentleft">
                                <h2>Thierry</h2>
                                <p>La description de Thierry et sa production</p>
                                <a href="#">Lien vers la page de Thierry</a>
                            </div>
                            <img src="~/Images/Thierry.png" />
                        </div>
                    </div>
                    <div class="container-cardcontainer">
                        <div class="card">
                            <div class="contentright">
                                <h2>Thierry</h2>
                                <p>La description de Thierry et sa production</p>
                                <a href="#">Lien vers la page de Thierry</a>
                            </div>
                            <img src="~/Images/Thierry.png" />
                        </div>
                    </div>
                </div>

                <div class="container-cardscontainer">
                    <div class="container-cardcontainer">
                        <div class="card">
                            <div class="contentleft">
                                <h2>Thierry</h2>
                                <p>La description de Thierry et sa production</p>
                                <a href="#">Lien vers la page de Thierry</a>
                            </div>
                            <img src="~/Images/Thierry.png" />
                        </div>
                    </div>

                </div>*@
               
