@model Projet2.ViewModels.HomeViewModel


<div class="container afternav mb-5">
    <div class="bancustom titrecustom text-center">Nos producteurs</div>

    @foreach (var adp in @Model.ListeComptesAdP)
    {
                @*<div >@adp.Id</div>*@
          
        <div class=" container-fluid adpcustom">
            <section class="rejoindrecustom">
                <article>
                    <div>
                        <img src="~/ImageProfils/@adp.Image" alt="" style="border-radius: 0 1rem 1rem 0;">
                    </div>
                    <div class="rejoindretext">
                        <div class="yes">@adp.NomProducteur</div>
                        <h3> @adp.Personne.Nom @adp.Personne.Prenom</h3>
                        <p>@adp.Description</p>
                        <a class="custombtn mt-4" asp-controller="" asp-action="">Découvrir</a>
                    </div>

                </article>
            </section>
        </div>
    }

</div>
